@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
}

.p-home,
.p-about,
.p-offers {
  position: relative;
}
.p-home .home-header,
.p-home .about-header,
.p-home .offers-header,
.p-about .home-header,
.p-about .about-header,
.p-about .offers-header,
.p-offers .home-header,
.p-offers .about-header,
.p-offers .offers-header {
  position: relative;
}
.p-home .bg,
.p-about .bg,
.p-offers .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 67, 130, 0.8);
  z-index: 1;
}

h1.custom-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
}

.offers-component {
  padding: 4rem 0;
}
.offers-component__image {
  height: 50vh;
}
.offers-component__title {
  margin: 4rem 0;
}

.map {
  margin: 5rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
}
