.p-u-adresses {
  margin: 4rem 36px;
  .header {
    display: flex;
    justify-content: space-between;

    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }

    &-action {
      button {
        background: #ffc258;
        border-radius: 5px;
        padding: 1rem 3rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        border: none;
        transition: all 0.3s ease-in;

        &:hover {
          background-color: #ffa200;
        }
      }
    }
  }

  .body {
    .row {
      align-items: stretch;
    }
    .card-item {
      .main {
        margin-top: 1rem;
        background: #f8f8f8;
        box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
          5px -5px 10px rgba(230, 230, 230, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9),
          5px 5px 13px rgba(230, 230, 230, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3),
          inset -1px -1px 2px rgba(230, 230, 230, 0.5);
        border-radius: 20px;
        padding: 1rem;
      }

      &__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
      }

      &__body,
      &__footer {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 18px;
        line-height: 30px;
      }

      &__action {
        margin-top: 2rem;

        button {
          background: #ffffff;
          border-radius: 10px;
          border: none;
          padding: 1rem 1.5rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .modal-content {
    border-radius: 20px;
    border: 0;
    background: #f6f7fb;
  }

  .modal-body {
    border: 0;
    border-radius: 20px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }

    .input-group {
      background: #f6f7fb;
      border: 1px solid rgba(236, 155, 0, 0.5);
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
        5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 10px;
      color: rgba(0, 0, 0, 0.5);
      padding: 0;
      padding: 0.8rem;

      input {
        padding: 0;
        background: #f6f7fb;
        border: 0;
        height: 100%;

        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    &__warning {
      font-size: 15px;
      color: #f77879;
      margin: 0;
      padding: 0.4rem 0.4rem 0 0.4rem;
    }

    &-header {
      margin: 0 0 40px;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      line-height: 150%;
      color: #000000;
    }
  }

  .modal-footer {
    button {
      width: 45%;
    }
    .save {
      background: #ffc258;
      border-radius: 10px;
    }

    .cancel {
      border-radius: 10px;
    }
  }
}
