<template>
  <div class="p-u-adresses">
    <div class="header">
      <div class="header-title">
        {{ langCookie == "en" ? "Delivery addresses" : "Адреса доставки" }}
      </div>
      <div class="header-action">
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          @click="newAddress"
        >
          {{ langCookie == "en" ? "Add new address" : "Добавит Адрес" }}
        </button>
      </div>
    </div>
    <div class="body">
      <div class="cards row">
        <div
          class="card-item col-4"
          v-for="address in addresses"
          :key="address.id"
        >
          <div class="main">
            <div class="card-item__header">
              {{ address.country_name }} , {{ address.region_name }}
            </div>
            <div class="card-item__body">
              {{ address.address }}
            </div>
            <div class="card-item__footer">
              {{ address.zip_code }}
            </div>
            <div class="card-item__action">
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal"
                @click="editData(address)"
              >
                <img src="@/assets/icons/user/user-edit.svg" alt="" />
              </button>
              <button @click="deleteAddress(address.id)">
                <img src="@/assets/icons/user/user-trash.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      aria-labelledby="ModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-4">
            <div class="modal-body-header">
              <h3 class="modal-body__header">
                {{
                  langCookie == "en"
                    ? "Enter your address"
                    : "Введите свой адрес"
                }}
              </h3>
            </div>

            <div class="input-group mt-3 flex-nowrap">
              <input
                type="text"
                v-model="user.full_name"
                class="form-control"
                :placeholder="
                  langCookie == 'ru'
                    ? 'Имя и фамилия *'
                    : 'First and last name *'
                "
                @input="checkWarning"
              />
            </div>

            <p class="modal-body__warning" v-if="warning.full_nameStatus">
              {{
                langCookie == "en" ? warning.full_name : warning.full_name_ru
              }}
            </p>

            <div class="input-group mt-3 flex-nowrap">
              <input
                type="text"
                v-model="user.email"
                class="form-control"
                placeholder="E-mail *"
                aria-label="Street, house/apartment/block"
                aria-describedby="addon-wrapping"
                @input="checkWarning"
              />
            </div>

            <p class="modal-body__warning" v-if="warning.emailStatus">
              {{ langCookie == "en" ? warning.email : warning.email_ru }}
            </p>

            <div class="input-group mt-3 flex-nowrap">
              <vue-phone-number-input
                v-model="user.number"
                @update="checkWarning, (result = $event)"
                v-bind="props"
                color="#FFA300"
              ></vue-phone-number-input>
            </div>

            <p class="modal-body__warning" v-if="warning.numberStatus">
              {{ langCookie == "en" ? warning.number : warning.number_ru }}
            </p>

            <div class="country mt-3">
              <select
                class="form-select form-select-sm input-group"
                aria-label=".form-select-sm example"
                v-model="user.country"
                @change="getCitiesList"
              >
                <option selected disabled value="undefined">
                  {{
                    langCookie == "ru"
                      ? "Выберите страну *"
                      : "Select country *"
                  }}
                </option>
                <option
                  v-for="country in countryList.data"
                  :key="country.id"
                  :value="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>

            <p class="modal-body__warning" v-if="warning.countryStatus">
              {{ langCookie == "en" ? warning.country : warning.country_ru }}
            </p>

            <div class="city mt-3">
              <select
                class="form-select form-select-sm input-group"
                aria-label=".form-select-sm example"
                v-model="user.city"
                @change="getSenderRegionsList"
                :disabled="!(citiesList.length ? citiesList.data.length : true)"
              >
                <option selected disabled value="undefined">
                  {{
                    langCookie == "ru" ? "Выберите город *" : "Select city *"
                  }}
                </option>
                <option
                  v-for="country in citiesList.data"
                  :key="country.id"
                  :value="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>

            <p class="modal-body__warning" v-if="warning.cityStatus">
              {{ langCookie == "en" ? warning.city : warning.city_ru }}
            </p>

            <div class="city mt-3">
              <select
                class="form-select form-select-sm input-group"
                aria-label=".form-select-sm example"
                v-model="user.region"
                @change="changingRegion"
                :disabled="
                  !(regionsList.length ? regionsList.data.length : true)
                "
              >
                <option selected disabled value="undefined">
                  {{
                    langCookie == "ru" ? "Выберите регион *" : "Select region *"
                  }}
                </option>
                <option
                  v-for="country in regionsList.data"
                  :key="country.id"
                  :value="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>

            <p class="modal-body__warning" v-if="warning.regionStatus">
              {{ langCookie == "en" ? warning.region : warning.region_ru }}
            </p>

            <div class="input-group mt-3 flex-nowrap">
              <input
                type="text"
                v-model="user.street"
                class="form-control"
                :placeholder="
                  langCookie == 'ru'
                    ? 'Название улицы, дома и т.д. *'
                    : 'Street name, house, etc. *'
                "
                aria-label="Street, house/apartment/block"
                aria-describedby="addon-wrapping"
                @input="checkWarning"
              />
            </div>

            <p class="modal-body__warning" v-if="warning.streetStatus">
              {{ langCookie == "en" ? warning.street : warning.street_ru }}
            </p>

            <div class="input-group mt-3 flex-nowrap">
              <input
                type="number"
                inputmode="numeric"
                v-model="user.postcode"
                class="form-control"
                :placeholder="
                  langCookie == 'ru' ? 'Почтовый индекс *' : 'Postal code *'
                "
                aria-label="Postcode"
                aria-describedby="addon-wrapping"
                @input="checkWarning"
              />
            </div>

            <p class="modal-body__warning" v-if="warning.postcodeStatus">
              {{ langCookie == "en" ? warning.postcode : warning.postcode_ru }}
            </p>
          </div>
          <div
            class="my-4 px-4 modal-footer d-flex justify-content-between border-0"
          >
            <button
              type="button"
              class="save py-3 border-0"
              @click="addAddress"
            >
              {{ langCookie == "en" ? "Save" : "Сохранить" }}
            </button>
            <button
              type="button"
              class="cancel py-3 border-0"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              {{ langCookie == "en" ? "Cancel" : "Отмена" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Cookie from "js-cookie";
export default {
  data() {
    return {
      user: {
        id: undefined,
        country: "undefined",
        region: "undefined",
        city: "undefined",
        full_name: "",
        street: "",
        postcode: "",
        email: "",
        number: "",
      },
      addType: "new",
      warning: {
        full_name: "Specify your full name",
        full_name_ru: "Укажите свое полное имя",
        full_nameStatus: false,
        email: "Specify email",
        email_ru: "Укажите email",
        emailStatus: false,
        number: "Specify phone number",
        number_ru: "Укажите номер телефона",
        numberStatus: false,
        country: "Specify the country",
        country_ru: "Укажите страну",
        countryStatus: false,
        city: "Specify the city",
        city_ru: "Укажите город",
        cityStatus: false,
        region: "Specify the region or territory",
        region_ru: "Укажите регион или территорию",
        regionStatus: false,
        street: "Street, house/apartment/block",
        street_ru: "Улица, дом/квартира/квартал",
        streetStatus: false,
        postcode: "Specify the postcode",
        postcode_ru: "Укажите почтовый индекс",
        postcodeStatus: false,
      },
      result: null,
      props: {
        translations: {
          phoneNumberLabel: "93 595 25 25",
        },
      },
      allStatuses: false,
    };
  },
  methods: {
    newAddress() {
      this.addType = "new";
      this.user = {
        country: "undefined",
        region: "undefined",
        city: "undefined",
        full_name: "",
        street: "",
        postcode: "",
        email: "",
        number: "",
      };
    },

    addAddress() {
      if (this.allStatuses) {
        try {
          const lang = Cookie.get("lang");
          const token = Cookie.get("token");
          let credentials = {
            full_name: this.user.full_name,
            email: this.user.email,
            phone: this.result.nationalNumber,
            region_id: this.user.region,
            pochta_index: this.user.postcode,
            adres_userfull: this.user.street,
            short: this.result.countryCode,
            code: this.result.countryCallingCode,
          };
          if (this.addType == "new") {
            this.$axios
              .post("/user/address/store", credentials, {
                headers: {
                  "Content-Type": "application/json",
                  "X-Localization": lang,
                  Authorization: `Bearer ${token}`,
                },
              })
              .then((result) => {
                if (result.status == 200) {
                  alert("Address successfully added");
                  window.location.reload();
                }
              })
              .catch((err) => {
                alert(err);
              });
          } else {
            credentials._method = "put";
            this.$axios
              .post(`/user/address/update/${this.user.id}`, credentials, {
                headers: {
                  "Content-Type": "application/json",
                  "X-Localization": lang,
                  Authorization: `Bearer ${token}`,
                },
              })
              .then((result) => {
                if (result.status == 200) {
                  alert("Address successfully edited");
                  window.location.reload();
                }
              })
              .catch((err) => {
                alert(err);
              });
          }
        } catch (error) {
          console.log(error);
        }
      } else {
        console.log("notyet");
      }
    },

    checkWarning() {
      let warningNames = Object.keys(this.user);
      let statuses = [];
      warningNames.forEach((elem) => {
        let statusName = elem + "Status";
        statuses.push(statusName);

        if (typeof this.user.country == "string") {
          this.warning.countryStatus = true;
        } else {
          this.warning.countryStatus = false;
        }

        if (typeof this.user.city == "string") {
          this.warning.cityStatus = true;
        } else {
          this.warning.cityStatus = false;
        }

        if (typeof this.user.region == "string") {
          this.warning.regionStatus = true;
        } else {
          this.warning.regionStatus = false;
        }

        if (this.user.full_name.length) {
          this.warning.full_nameStatus = false;
        } else {
          this.warning.full_nameStatus = true;
        }

        if (this.user.email.length) {
          this.warning.emailStatus = false;
        } else {
          this.warning.emailStatus = true;
        }

        if (this.user.number?.length) {
          this.warning.numberStatus = false;
        } else {
          this.warning.numberStatus = true;
        }

        if (this.user.street.length) {
          this.warning.streetStatus = false;
        } else {
          this.warning.streetStatus = true;
        }

        if (this.user.postcode.length) {
          if (this.user.postcode.length > 5) {
            this.warning.postcodeStatus = false;
          } else {
            if (this.langCookie == "en") {
              this.warning.postcode = "Postcode must be at least 6 characters";
            } else {
              this.warning.postcode =
                "Почтовый индекс должен содержать не менее 6 символов";
            }
            this.warning.postcodeStatus = true;
          }
        } else {
          this.warning.postcodeStatus = true;
        }
      });

      if (statuses.every((element) => element == false)) {
        this.allStatuses = false;
      } else {
        this.allStatuses = true;
      }
    },

    getCitiesList(e) {
      this.$store.dispatch("application/getSenderCitiesList", e.target.value);
      this.checkWarning();
    },

    getSenderRegionsList(e) {
      this.$store.dispatch("application/getSenderRegionsList", e.target.value);
      this.checkWarning();
    },

    changingRegion() {
      this.checkWarning();
    },

    deleteAddress(id) {
      try {
        const lang = Cookie.get("lang");
        const token = Cookie.get("token");
        this.$axios
          .delete(`/user/address/delete/${id}`, {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then((result) => {
            if (result.status == 200) {
              alert("Address successfully deleted");
              window.location.reload();
            }
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
    },

    editData(add) {
      try {
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        const headers = {
          "Content-Type": "application/json",
          "X-Localization": lang,
          Authorization: `Bearer ${token}`,
        };
        this.$axios
          .post(
            `/user/address/edit/${add.id}`,
            { _method: "post" },
            {
              headers,
            }
          )
          .then((result) => {
            let newAdd = result.data.data;
            console.log(newAdd);
            this.user.id = add.id;
            this.addType = "edit";
            this.user.postcode = newAdd.pochta_index;
            this.user.street = newAdd.adres_userfull;
            this.props.defaultCountryCode = newAdd.short;
            this.user.number = newAdd.phone;
            this.user.full_name = newAdd.full_name;
            this.user.email = newAdd.email;

            this.countryList?.data?.forEach((elem) => {
              if (elem.name == newAdd.country_name) {
                this.user.country = elem.id;
              }
            });
            this.$store.dispatch(
              "application/getSenderCitiesList",
              this.user.country
            );

            setTimeout(() => {
              this.citiesList?.data?.forEach((elem) => {
                if (elem.name == add.city_name) {
                  this.user.city = elem.id;
                }
              });
            }, 1000);

            setTimeout(() => {
              this.$store.dispatch(
                "application/getSenderRegionsList",
                this.user.city
              );
            }, 1100);

            setTimeout(() => {
              this.regionsList?.data?.forEach((elem) => {
                if (elem.name == add.region_name) {
                  this.user.region = elem.id;
                }
              });
            }, 2000);
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }

      this.warning.countryStatus = false;
      this.warning.cityStatus = false;
      this.warning.regionStatus = false;
      this.warning.postcodeStatus = false;
      this.warning.streetStatus = false;
    },
  },
  computed: {
    ...mapGetters({
      addresses: "user/getAddresses",
      countryList: "application/getCountryList",
      citiesList: "application/getSenderCitiesList",
      regionsList: "application/getSenderRegionsList",
    }),
    langCookie() {
      return Cookie.get("lang");
    },
  },
  mounted() {
    this.$store.dispatch("application/getCountryList");
    this.$store.dispatch("user/getAddresses");
  },
};
</script>

<style lang="scss" scoped>
@import "./adresses.style.scss";
</style>
