<template>
  <div class="c-l-experience">
    <div class="container-xxl">
      <div class="exp">
        <h1 class="custom-headline">
          {{ langCookie == "ru" ? "Опыт работы компании" : "Work experience" }}
        </h1>
        <p class="exp-text text-center">
          {{
            langCookie == "ru"
              ? `Компания Dali предлагает выгодные условия грузоперевозки, с сочетанием
          скорости, надёжности и безопасности каждой доставки. Мы отвечаем за
          каждый груз, гарантируем профессиональный подход и отличаемся
          пунктуальностью. С нами вы можете заказать доставку как животных, так
          и тяжеловесного груза, будучи абсолютно уверенными в их целостности
          сохранности.`
              : `Dali company offers favorable conditions for cargo transportation, with a combination of
          speed, reliability and safety of each delivery. We are responsible for
          each cargo, we guarantee a professional approach and differ
          punctuality. With us you can order the delivery of both animals and
          and heavy cargo, being absolutely sure of their integrity
          safety.`
          }}
        </p>

        <div class="row">
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="text">{{ langCookie == "ru" ? "до" : "up to" }}</h1>
              <h1 class="number">
                <span class="scroll-item" data-max="40">40</span>%
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru"
                    ? "снижает транспортные расходы"
                    : "reduce transportation costs"
                }}
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="text">{{ langCookie == "ru" ? "до" : "up to" }}</h1>
              <h1 class="number">
                <span class="scroll-item" data-max="95">95</span>%
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru"
                    ? "увеличит ваш уровень сервиса"
                    : "increase your level of service"
                }}
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="number">
                <span class="scroll-item" data-max="100">100</span>%
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru" ? "контроль водителей" : "driver control"
                }}
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="number">
                <span class="scroll-item" data-max="1800">1800</span>
              </h1>
              <h1 class="text">
                {{ langCookie == "ru" ? "точек" : "points" }}
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru"
                    ? "запланирует в маршрут за 5 минуты"
                    : "will be planned in a route in 5 minutes"
                }}
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="number">
                <span class="scroll-item" data-max="60">60</span> +
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru"
                    ? "показателей доставки, которые вы сможете контролировать"
                    : "delivery indicators that you can control"
                }}
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 row-item">
            <div class="row-item__numbers">
              <h1 class="text">{{ langCookie == "ru" ? "в" : "by" }}</h1>
              <h1 class="number">
                <span class="scroll-item" data-max="7">7</span>
                {{ langCookie == "ru" ? "раз" : "times" }}
              </h1>
            </div>
            <div class="row-item__text">
              <p class="desc">
                {{
                  langCookie == "ru"
                    ? "сокращает количество опозданий"
                    : "reduces the number of delays"
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./ExperienceView.style.scss";
</style>
