<template>
  <div class="c-l-news" :class="$route.path == '/' ? '' : 'blog'">
    <div class="container-xxl">
      <h1 v-if="$route.path == '/'" class="custom-headline">Полезные статьи</h1>
      <div class="row cards-wrapper">
        <div
          v-for="card in $route.path == '/' ? newData.slice(0, 4) : newData"
          :key="card.id"
          class="col-md-3 col-sm-6 col-12 border-0 my-3 card"
        >
          <img :src="card.image_new" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.short_info }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
    },
  },

  computed: {
    newData() {
      let a = [];
      a = this.data;
      if (a) {
        a.forEach((elem) => {
          elem.image_new =
            process.env.baseUrl + "/" + JSON.parse(elem.image).file_path;
        });
        return a;
      } else {
        this.data;
      }
    },
  },
};
</script>

<style lang="scss">
@import "./NewsView.style.scss";
</style>
