<template>
  <div class="p-user-application-create">
    <div class="container-xxl">
      <button class="btn btn-info mt-3" @click="$router.push('/user/applications')">Go back</button>
    </div>
    <form-view></form-view>
  </div>
</template>

<script>
import FormView from "@/components/user/Layout/FormView/FormView.vue";
export default {
  components: {
    FormView,
  },

  mounted() {
    
  },
};
</script>

<style lang="scss" scoped>
.p-user-application-create {
  background: white !important;
}
</style>
