<template>
  <div class="p-user-applications">
    <div class="application container-xxl table">
      <div class="application-body table-body">
        <div class="application-body__title table-body__title">
          <h1>General application</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Full Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(app, index) in applicationList"
                :key="app.id ? app.id : index"
              >
                <td scope="col">#{{ app.code }}</td>
                <td scope="col">
                  {{ app.full_name }}
                </td>
                <td
                  scope="col"
                  :style="{
                    color: app.status_color + ' !important',
                  }"
                >
                  {{ app.status }}
                </td>
                <td scope="col">
                  <button
                    class="btn btn-success"
                    @click="acceptApplication(app.id)"
                  >
                    Accept
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      applicationList: "user/getOperatorApplication",
    }),
  },

  methods: {
    acceptApplication(id) {
      // const article = { _method: "Axios PUT Request Example" };

      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      const headers = {
        "Content-Type": "application/json",
        "X-Localization": lang,
        Authorization: `Bearer ${token}`,
      };
      this.$axios
        .post(
          `/operator/accept/${id}`,
          { _method: "put" },
          {
            headers,
          }
        )
        .then(() => window.location.reload());
    },
  },

  mounted() {
    this.$store.dispatch("user/getOperatorApplication");
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/table.scss";
@import "./applications.style.scss";
</style>
