<template>
  <div class="p-user-application-self">
    <button
      class="btn btn-info mt-3"
      style="margin: 2rem"
      @click="$router.push('/operator/my-applications')"
    >
      Go back
    </button>

    <div class="row">
      <!-- {{ applicationData.application?.status == "Accept for processing" }} -->
      <div class="col-12">
        <div class="product-table">ID user: {{ applicationData.user?.id }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="sender">
            {{ langCookie == "ru" ? "Отправитель" : "Sender" }}
          </h2>
          <table>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Имя и фамилия" : "First and last name"
                }}
              </td>
              <td>{{ applicationData.application?.full_name }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ applicationData.application?.email }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Телефон" : "Telephone" }}
              </td>
              <td>{{ applicationData.application?.phone }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Страна" : "Country" }}
              </td>
              <td>{{ applicationData.application?.country_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Город" : "City" }}
              </td>
              <td>{{ applicationData.application?.city_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Регион" : "Region" }}
              </td>
              <td>{{ applicationData.application?.region_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Почтовый индекс" : "Postcode" }}
              </td>
              <td>{{ applicationData.application?.mail_index }}</td>
            </tr>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Условия поставки" : "Delivery condition"
                }}
              </td>
              <td>{{ applicationData.application?.supply }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="cons">
            {{ langCookie == "ru" ? "Грузополучатель" : "Consignee" }}
          </h2>
          <table>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Имя и фамилия" : "First and last name"
                }}
              </td>
              <td>{{ applicationData.application?.full_name_from }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ applicationData.application?.email_from }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Телефон" : "Telephone" }}
              </td>
              <td>{{ applicationData.application?.phone_from }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Страна" : "Country" }}
              </td>
              <td>{{ applicationData.application?.country_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Город" : "City" }}
              </td>
              <td>{{ applicationData.application?.city_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Регион" : "Region" }}
              </td>
              <td>{{ applicationData.application?.region_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Почтовый индекс" : "Postcode" }}
              </td>
              <td>{{ applicationData.application?.mail_from_index }}</td>
            </tr>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Способ доставки" : "Delivery methods"
                }}
              </td>
              <td>{{ applicationData.application?.delivery }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <div class="product-table__header">
            <div class="product-table__header-id">#</div>
            <div class="product-table__header-name">Name</div>
            <div class="product-table__body-packing">Packing type</div>
            <div class="product-table__header-quantity">Quantity</div>
            <div class="product-table__header-volume">
              Total volume (m <sup>3</sup>)
            </div>
            <div class="product-table__header-weight">Total weight (kg)</div>

            <div class="product-table__header-actions">Actions</div>
          </div>
          {{ hi ? "" : "" }}
          <div
            class="product-table__body"
            v-for="(prod, index) in productsData"
            :key="prod.id"
          >
            <div class="product-table__body-id">{{ index + 1 }}</div>
            <div class="product-table__body-name">
              <input
                class="form-control"
                type="text"
                :disabled="prod.status ? true : false"
                :value="active[index] ? active[index].name : prod.name"
                @keyup="changeName($event, index)"
              />
            </div>
            <div class="product-table__body-packing">
              <select
                class="form-select"
                :disabled="prod.status ? true : false"
                :value="active[index] ? active[index].colli : prod.packing_id"
                @change="getColli($event, index)"
              >
                <option
                  :value="colli.id"
                  v-for="colli in colliList.data"
                  :key="colli.id"
                  :selected="colli.id == 1"
                >
                  {{ colli.name }}
                </option>
              </select>
            </div>
            <div class="product-table__body-quantity">
              <input
                class="form-control"
                type="number"
                :disabled="prod.status ? true : false"
                :value="active[index] ? active[index].quantity : prod.quantity"
                @keyup="changeQuantity($event, index)"
              />
            </div>
            <div class="product-table__body-volume">
              <input
                class="form-control"
                type="number"
                :disabled="prod.status ? true : false"
                :value="
                  active[index] ? active[index].full_size : prod.full_size
                "
                @keyup="changeSize($event, index)"
              />
            </div>
            <div class="product-table__body-weight">
              <input
                class="form-control"
                type="number"
                :disabled="prod.status ? true : false"
                :value="
                  active[index] ? active[index].total_weight : prod.total_weight
                "
                @keyup="changeWeight($event, index)"
              />
            </div>

            <div class="product-table__body-actions">
              <button
                v-if="prod.status"
                class="btn btn-light"
                @click="edit(index)"
                :disabled="
                  !(
                    applicationData.application?.status_id == 2
                  )
                "
              >
                <img src="@/assets/icons/user/user-edit.svg" alt="" />
              </button>

              <template v-else>
                <button @click="cancel(index)" class="btn btn-danger">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="
                      fill: rgba(255, 255, 255, 1);
                      transform: ;
                      msfilter: ;
                    "
                  >
                    <path
                      d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                    ></path>
                  </svg>
                </button>

                <button @click="save(index)" class="btn btn-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="
                      fill: rgba(255, 255, 255, 1);
                      transform: ;
                      msfilter: ;
                    "
                  >
                    <path
                      d="M5 21h14a2 2 0 0 0 2-2V8l-5-5H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zM7 5h4v2h2V5h2v4H7V5zm0 8h10v6H7v-6z"
                    ></path>
                  </svg>
                </button>
              </template>
            </div>
          </div>

          <div
            class="product-table__body"
            v-for="(newProd, index) in newProducts"
            :key="index"
          >
            <div class="product-table__body-id">
              {{ lastIndex + index + 1 }}
            </div>
            <div class="product-table__body-name">
              <input class="form-control" type="text" v-model="newProd.name" />
            </div>
            <div class="product-table__body-packing">
              <select class="form-select" v-model="newProd.packing_id">
                <option
                  :value="colli.id"
                  v-for="colli in colliList.data"
                  :key="colli.id"
                  :selected="colli.id == 1"
                >
                  {{ colli.name }}
                </option>
              </select>
            </div>
            <div class="product-table__body-quantity">
              <input
                class="form-control"
                type="number"
                v-model="newProd.quantity"
              />
            </div>
            <div class="product-table__body-volume">
              <input
                class="form-control"
                type="number"
                v-model="newProd.full_size"
              />
            </div>
            <div class="product-table__body-weight">
              <input
                class="form-control"
                type="number"
                v-model="newProd.total_weight"
              />
            </div>

            <div class="product-table__body-actions">
              <button class="btn btn-danger" @click="deleteRow(index)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgba(255, 255, 255, 1); transform: ; msfilter: "
                >
                  <path d="M5 11h14v2H5z"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-table__body">
            <div class="product-table__body-id"></div>
            <div class="product-table__body-name">Total:</div>
            <div class="product-table__body-packing"></div>
            <div class="product-table__body-quantity">{{ allQuantity }}</div>
            <div class="product-table__body-volume">
              {{ allVolume }}
            </div>
            <div class="product-table__body-weight">
              {{ allWeight }}
            </div>

            <div class="product-table__body-actions">
              <button
                class="btn btn-primary"
                @click="addRow"
                :disabled="
                  !(
                    applicationData.application?.status_id == 2
                  )
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgba(255, 255, 255, 1); transform: ; msfilter: "
                >
                  <path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>Comments</h2>

          <p>
            {{ applicationData.application?.comment }}
          </p>
        </div>
      </div>
    </div>

    <div v-if="productFile" class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>Product file</h2>
          <a :href="productFile?.url" target="_blank">{{
            productFile?.name
          }}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>Files</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in productFiles" :key="data.id">
                  <th scope="row">
                    <img
                      width="45"
                      height="35"
                      src="@/assets/images/user/user-directory.png"
                      alt=""
                    />
                  </th>
                  <td>{{ data.nameNew.name }}</td>
                  <td>
                    <button
                      class="btn btn-primary"
                      @click="downloadFile(data.urlNew)"
                    >
                      Download
                    </button>
                    <button class="btn btn-danger" @click="deleteFile(data.id)">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary" @click="sendLogis"
                  :disabled="
                  !(
                    applicationData.application?.status_id == 2
                  )
                ">
            Send to logis
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Cookie from "js-cookie";
export default {
  data() {
    return {
      hi: false,
      productsData: [],
      active: [],
      lastIndex: undefined,
      newProducts: [],
    };
  },
  watch: {
    applicationData() {
      this.applicationChanging();
    },
  },

  computed: {
    ...mapGetters({
      applicationData: "user/getOperatorById",
      colliList: "application/getColliList",
    }),

    allQuantity() {
      let a = 0;
      this.productsData.forEach((element, index) => {
        if (this.active[index]) {
          a += Number(this.active[index].quantity);
        } else {
          a += Number(element.quantity);
        }
      });

      this.newProducts.forEach((element) => {
        a += Number(element.quantity);
      });
      return a;
    },

    allVolume() {
      let a = 0;
      this.productsData.forEach((element, index) => {
        if (this.active[index]) {
          a += Number(this.active[index].full_size);
        } else {
          a += Number(element.full_size);
        }
      });

      this.newProducts.forEach((element) => {
        a += Number(element.full_size);
      });
      return a;
    },

    allWeight() {
      let a = 0;
      this.productsData.forEach((element, index) => {
        if (this.active[index]) {
          a += Number(this.active[index].total_weight);
        } else {
          a += Number(element.total_weight);
        }
      });

      this.newProducts.forEach((element) => {
        a += Number(element.total_weight);
      });
      return a;
    },

    productsDataInformation() {
      return this.productsData;
    },

    productFiles() {
      let a = this.applicationData.application?.application_document;
      if (this.applicationData) {
        if (this.applicationData?.application?.application_document) {
          this.applicationData?.application?.application_document.forEach(
            (element) => {
              element.nameNew = JSON.parse(element.name);
              element.urlNew =
                process.env.baseUrl + "/" + element.nameNew.file_path;
            }
          );
        }
      }
      return a;
    },

    productFile() {
      let a = this.applicationData;
      if (a) {
        if (a.application) {
          if (a.application.products_detail_file) {
            let result = {};
            result.url =
              process.env.baseUrl +
              "/" +
              JSON.parse(a.application.products_detail_file).file_path;
            result.name = JSON.parse(a.application.products_detail_file).name;
            return result;
          }
        }
      }
    },
  },
  methods: {
    addRow() {
      this.newProducts.push({
        packing_id: 1,
        name: "",
        quantity: "",
        full_size: "",
        total_weight: 0,
      });
    },
    deleteRow(index) {
      this.newProducts.splice(index, 1);
    },
    edit(e) {
      this.hi = !this.hi;
      this.productsData.forEach((element) => {
        element.status = true;
      });
      this.productsData[e].status = false;
    },
    cancel(e) {
      this.hi = !this.hi;
      this.productsData[e].status = true;
      this.active[e] = undefined;
    },

    changeName(e, ind) {
      if (this.active[ind]) {
        this.active[ind].name = e.target.value;
      } else {
        this.active[ind] = {};
        this.active[ind].full_size = this.productsData[ind].full_size;
        this.active[ind].colli = this.productsData[ind].packing_id;
        this.active[ind].quantity = this.productsData[ind].quantity;
        this.active[ind].total_weight = this.productsData[ind].total_weight;
        this.active[ind].name = e.target.value;
      }
    },

    changeQuantity(e, ind) {
      if (this.active[ind]) {
        this.active[ind].quantity = e.target.value;
      } else {
        this.active[ind] = {};
        this.active[ind].name = this.productsData[ind].name;
        this.active[ind].full_size = this.productsData[ind].full_size;
        this.active[ind].colli = this.productsData[ind].packing_id;
        this.active[ind].total_weight = this.productsData[ind].total_weight;
        this.active[ind].quantity = e.target.value;
      }
    },

    getColli(e, ind) {
      if (this.active[ind]) {
        this.active[ind].colli = e.target.value;
      } else {
        this.active[ind] = {};
        this.active[ind].name = this.productsData[ind].name;
        this.active[ind].full_size = this.productsData[ind].full_size;
        this.active[ind].quantity = this.productsData[ind].quantity;
        this.active[ind].total_weight = this.productsData[ind].total_weight;
        this.active[ind].colli = e.target.value;
      }
    },

    changeSize(e, ind) {
      if (this.active[ind]) {
        this.active[ind].full_size = e.target.value;
      } else {
        this.active[ind] = {};
        this.active[ind].name = this.productsData[ind].name;
        this.active[ind].colli = this.productsData[ind].packing_id;
        this.active[ind].quantity = this.productsData[ind].quantity;
        this.active[ind].total_weight = this.productsData[ind].total_weight;
        this.active[ind].full_size = e.target.value;
      }
    },

    changeWeight(e, ind) {
      if (this.active[ind]) {
        this.active[ind].total_weight = e.target.value;
      } else {
        this.active[ind] = {};
        this.active[ind].name = this.productsData[ind].name;
        this.active[ind].full_size = this.productsData[ind].full_size;
        this.active[ind].colli = this.productsData[ind].packing_id;
        this.active[ind].quantity = this.productsData[ind].quantity;
        this.active[ind].total_weight = e.target.value;
      }
    },

    save(ind) {
      this.hi = !this.hi;
      let element = this.active[ind];
      let productId = this.productsData[ind].id;
      if (element) {
        try {
          const token = Cookie.get("token");
          const lang = Cookie.get("lang");
          this.$axios
            .post(
              `/operator/application/${this.applicationData?.application?.id}/${productId}`,
              {
                _method: "put",
                name: element.name,
                packing_id: Number(element.colli),
                quantity: Number(element.quantity),
                total_weight: Number(element.total_weight),
                full_size: Number(element.full_size),
              },
              {
                headers: {
                  "Content-Type": "application/json",
                  "X-Localization": lang,
                  Authorization: `Bearer ${token}`,
                },
              }
            )
            .then((result) => {
              if (result.status == 200) {
                alert("saved");
                window.location.reload();
              }
            })
            .catch((err) => {
              alert(err);
            });
        } catch (error) {
          console.log(error);
        }
      }
      this.productsData[ind].status = true;
    },

    applicationChanging() {
      let a = this.applicationData.application?.products;
      if (a) {
        a.forEach((element, index) => {
          element.status = true;
        });
      }
      this.lastIndex = a.length;
      this.productsData = [...a];
    },
    deleteFile(id) {
      try {
        const lang = Cookie.get("lang");
        const token = Cookie.get("token");
        this.$axios
          .delete(
            `/operator/file/${this.applicationData?.application?.id}/${id}`,
            {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            }
          )
          .then((result) => {
            if (result.status == 200) {
              alert("File successfully deleted");
              window.location.reload();
            }
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
    },
    downloadFile(url) {
      window.open(url, "_blank").focus();
    },
    sendLogis() {
      let a = {};
      let counter = 0;
      this.newProducts.forEach((element, index) => {
        if (element) {
          if (element.name) {
            if (element.quantity) {
              a[counter] = {
                name: element.name,
                packing_id: Number(element.packing_id),
                quantity: Number(element.quantity),
                total_weight: Number(element.total_weight),
                full_size: Number(element.full_size),
              };
              counter += 1;
            } else {
              alert("Please write quantity of the product");
            }
          } else {
            alert("Please write name of the product");
          }
        }
      });
      try {
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        if (this.applicationData?.application?.status_id == 2) {
          this.$axios
            .post(
              `/operator/store/${this.applicationData?.application?.id}`,
              {
                _method: "put",
                product: a
              },
              {
                headers: {
                  "Content-Type": "application/json",
                  "X-Localization": lang,
                  Authorization: `Bearer ${token}`,
                },
              }
            )
            .then((result) => {
              if (result.status == 200) {
                alert("saved");
                window.location.reload();
              }
            })
            .catch((err) => {
              alert(err);
            });
        }
      } catch (error) {
        console.log(error);
      }
    },
  },

  mounted() {
    this.$store.dispatch("user/getOperatorById", this.$route.params.slug);
  },
};
</script>

<style lang="scss" scoped>
@import "./applicationView.style.scss";
</style>
