<template>
  <div class="p-user-chat">
    <div class="chat-box d-flex">
      <div class="chat-box-menu">
        <div class="search-bar">
          <input
            type="text"
            placeholder="Search"
            v-model="searching"
            @keyup="search"
          />
        </div>
        <ul class="chat-box-list list-unstyled">
          <li v-if="this.searching.length >= 3">
            <div
              class="chat-box-item"
              v-for="(chat, index) in searchedChat"
              :key="index"
              @click="addChat(chat)"
            >
              <div class="d-flex justify-content-between">
                <div class="wrapper d-flex align-items-center">
                  <img :src="chat.new_image" width="45" height="45" alt="" />
                  <div class="wrapper-info">
                    <h3>{{ chat.full_name }}</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="chat-box-item">Сообщения не найдены</div>
          </li>

          <li
            v-else
            v-for="(userData, index) in users"
            :key="index"
            class="chat-box-item"
            @click="selectChat(userData)"
          >
            <a href="#" class="d-flex justify-content-between">
              <div
                class="circle"
                v-if="userData.user ? userData.user.count > 0 : false"
              >
                {{ userData.user.count }}
              </div>
              <div class="wrapper d-flex align-items-center">
                <img :src="userData.new_image" width="45" height="45" alt="" />
                <div class="wrapper-info">
                  <h3>{{ userData.user.full_name }}</h3>
                  <p>{{ userData.user.messageText }}</p>
                </div>
              </div>
              <p class="date">
                <span>{{
                  userData.user.date
                    ? userData.user.date.slice(0, 10)
                    : userData.date
                }}</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="chat-box__window d-flex flex-column justify-content-between">
        <div v-if="selectedChat" class="chat-header d-flex align-items-center">
          <img :src="selectedChat.new_image" width="45" height="45" alt="" />
          <div class="online-user">
            <h3 class="m-0">
              {{
                selectedChat.user
                  ? selectedChat.user.full_name
                  : selectedChat.full_name
              }}
            </h3>
          </div>
        </div>
        <div
          v-show="selectedChat && isFinished"
          class="chat-window"
          id="chat-window"
        >
          <ul class="chat-window__list">
            <li
              class="chat-window__list-item"
              v-for="sms in smsData"
              :key="sms.id"
              :class="!sms.sender ? 'sender' : 'receiver'"
            >
              <div class="chat-window__list-item-sms">
                {{ sms.text }}
              </div>
            </li>
          </ul>
        </div>
        <div v-if="selectedChat" class="chat-text d-flex">
          <input
            class="w-100"
            type="text"
            v-model="smsText"
            placeholder="Enter your message..."
          />
          <button
            @click="sendSms"
            class="btn btn-light rounded-circle p-2 pl-3 ml-3"
          >
            <img src="@/assets/images/chat-send.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  data() {
    return {
      usersData: [],
      searching: "",
      searchedChat: "",
      selectedChat: undefined,
      userChats: [],
      smsData: [],
      smsText: "",
      interval: null,
      isFinished: false,
    };
  },

  computed: {
    users() {
      if (this.userChats.data) {
        let a = this.userChats.data;
        if (a.length) {
          a.forEach((element) => {
            try {
              element.new_image =
                process.env.baseUrl +
                "/" +
                JSON.parse(element.user.avatar).file_path;
            } catch (error) {}
          });
        }

        return a;
      } else {
        return this.userChats.data;
      }
    },
  },

  methods: {
    search() {
      if (this.searching.length >= 3) {
        let credentials = {
          search: this.searching,
        };
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        try {
          this.$axios
            .post("/chat/search", credentials, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.searchedChat = result.data.data;
              if (this.searchedChat.length) {
                this.searchedChat.forEach((element) => {
                  try {
                    element.new_image =
                      process.env.baseUrl +
                      "/" +
                      JSON.parse(element.avatar).file_path;
                  } catch (error) {}
                });
              }
            })
            .catch((err) => {
              alert(err);
            });
        } catch (error) {
          console.log(error);
        }
      } else {
        console.log("nothing");
      }
    },
    getChats() {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        this.$axios
          .post(
            "/chat/user-chats",
            {
              _method: "post",
            },
            {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            }
          )
          .then((result) => {
            this.userChats = result.data;
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
    },
    selectChat(details) {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        this.$axios
          .post(
            `/chat/user-messages/${details.chat_id}`,
            {
              _method: "post",
            },
            {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            }
          )
          .then((result) => {
            this.smsData = result.data.data;

            setTimeout(() => {
              var objDiv = document.getElementById("chat-window");
              objDiv.scrollTop = objDiv.scrollHeight;
            }, 100);

            this.isFinished = true;
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
      this.selectedChat = details;
    },

    addChat(chat) {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        this.$axios
          .post(
            `/chat/new-chat/${chat.id}`,
            {
              _method: "post",
            },
            {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            }
          )
          .then((result) => {
            this.selectedChat = chat;
            this.selectedChat.chat_id = result.data.data.chat_id;
            this.searching = "";
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
    },

    sendSms() {
      if (this.smsText) {
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        try {
          this.$axios
            .post(
              `/chat/new-message/${this.selectedChat.chat_id}`,
              {
                _method: "put",
                txt: this.smsText,
              },
              {
                headers: {
                  "Content-Type": "application/json",
                  "X-Localization": lang,
                  Authorization: `Bearer ${token}`,
                },
              }
            )
            .then((result) => {
              if (result.status == 200) {
                this.selectChat(this.selectedChat);
                this.smsText = "";
              }
            })
            .catch((err) => {
              alert(err);
            });
        } catch (error) {
          console.log(error);
        }
      } else {
        console.log("Write something");
      }
    },
  },

  mounted() {
    this.getChats();
  },
  created() {
    this.interval = setInterval(() => {
      this.getChats();
      if (this.selectedChat) {
        this.selectChat(this.selectedChat);
      }
    }, 3000);
  },
  destroyed() {
    clearInterval(this.interval);
  },
};
</script>

<style lang="scss" scoped>
@import "./chat-operator.style.scss";
</style>
