<template>
  <div class="c-co-search">
    <div class="search-field">
      <img
        class="search-field__img"
        src="../../../../assets/icons/input-search.svg"
        alt=""
      />
      <input
        type="text"
        class="search-field__input"
        :placeholder="
          langCookie == 'ru' ? 'Быстрое отслеживание...' : 'Fast tracking...'
        "
      />
      <button class="search-field__button" type="button">
        {{ langCookie == "ru" ? "Найти" : "Search" }}
      </button>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./SearchField.style.scss";
</style>
