<template>
  <div class="c-l-team">
    <div class="container-xxl">
      <h1 class="custom-headline">
        {{ langCookie == "ru" ? "Наша команда " : "Our team" }}
      </h1>
      <div class="team-image"></div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./OurTeam.style.scss";
</style>
