<template>
  <div class="c-co-footer">
    <div class="container-xxl">
      <div class="footer">
        <div class="footer-menu">
          <div class="footer-menu__logo">
            <a href="#"
              ><img src="../../../../assets/images/FooterLogo.png" alt=""
            /></a>
          </div>
          <div class="footer-menu__nav">
            <ul class="footer-menu__nav-list">
              <li>
                <nuxt-link to="/about">{{
                  langCookie == "ru" ? "О компании" : "About company"
                }}</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/offers">{{
                  langCookie == "ru" ? "Услуги" : "Services"
                }}</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/blog">{{
                  langCookie == "ru" ? "Блог" : "Blog"
                }}</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/contacts">{{
                  langCookie == "ru" ? "Контакты" : "Contacts"
                }}</nuxt-link>
              </li>
            </ul>
          </div>
          <div class="footer-menu__social">
            <div class="footer-menu__social-item">
              <img
                src="../../../../assets/icons/Instagram.svg"
                alt="instagram"
              />
            </div>
            <div class="footer-menu__social-item">
              <img src="../../../../assets/icons/Facebook.svg" alt="" />
            </div>
            <div class="footer-menu__social-item">
              <img src="../../../../assets/icons/Twitter.svg" alt="" />
            </div>
            <div class="footer-menu__social-item">
              <img src="../../../../assets/icons/Telegram.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="footer-owner">
          {{
            langCookie == "ru"
              ? "Политика конфиденциальности © 2022 Dalilogistic. Все права защищены"
              : "Privacy Policy © 2022 Dali logistic. All rights reserved"
          }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./FooterView.style.scss";
</style>
