<template>
  <div class="p-user-main container-xxl">
    <div class="main">
      <div class="main-header">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-12">
            <div class="main-header__card" @click="applicationClick">
              <div class="main-header__card-header">
                <h2>{{ langCookie == "en" ? "Orders" : "Заказы" }}</h2>
              </div>
              <div class="main-header__card-body">
                <div class="main-header__card-body-icon">
                  <img src="@/assets/icons/user/user-orders.png" alt="" />
                </div>
                <div class="main-header__card-body-text">
                  <h1>{{ gotData.app_count }}</h1>
                  <p>
                    {{
                      langCookie == "en"
                        ? "Open my orders"
                        : "Откройте мои заказы"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-12">
            <div class="main-header__card" @click="chatClick">
              <div class="main-header__card-header">
                <h2>
                  {{
                    langCookie == "en"
                      ? "Chat with Operator"
                      : "Чат с Опертором"
                  }}
                </h2>
              </div>
              <div class="main-header__card-body">
                <div class="main-header__card-body-icon">
                  <img src="@/assets/icons/user/user-chat.png" alt="" />
                </div>
                <div class="main-header__card-body-text">
                  <p>
                    {{ langCookie == "en" ? "Open chat" : "Открыть чат" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 banner">
            <img src="@/assets/icons/user/user-main-banner.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  data() {
    return {
      gotData: {},
    };
  },
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
  methods: {
    getData() {
      const lang = Cookie.get("lang");
      if (Cookie.get("token")) {
        this.$axios
          .get("/user/home", {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${Cookie.get("token")}`,
            },
          })
          .then((res) => (this.gotData = res.data.data));
      }
    },
    chatClick() {
      this.$router.push("/user/chat-operator");
    },
    applicationClick() {
      this.$router.push("/user/applications");
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/admin-main.scss";
</style>
