<template>
  <div class="p-user-directory">
    <div class="directory">
      <div class="row">
        <div class="col-3" v-for="dir in directoryList.data" :key="dir.id">
          <div class="directory-item" @click="goToDetails(dir.id)">
            <img src="@/assets/images/user/user-directory.png" alt="" />
            <h3 class="mt-3">{{ dir.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      directoryList: "user/getOperatorDirectory",
    }),
  },

  methods: {
    goToDetails(e) {
      this.$router.push(this.$route.path + `/${e}`);
    },
  },
  mounted() {
    this.directories = this.directoryList;
  },
};
</script>

<style lang="scss" scoped>
@import "./directory.style.scss";
</style>
