<template>
  <div class="c-l-form">
    <div class="container-xxl">
      <h1 class="custom-headline">
        {{
          langCookie == "ru"
            ? "Заполните заявка"
            : "Fill out the application form"
        }}
      </h1>
      <form @submit.prevent="saveData">
        <div class="c-cu-sender">
          <div class="form-sender__header">
            <div>
              <input
                type="radio"
                v-model="owner"
                checked
                name="personal"
                value="sender"
                id="sender"
              />
              <label for="sender">
                {{ langCookie == "ru" ? "Отправитель" : "Sender" }}</label
              >
            </div>
            <div>
              <input
                type="radio"
                v-model="owner"
                value="receiver"
                name="personal"
                id="receiver"
              />
              <label for="receiver">
                {{
                  langCookie == "ru" ? "Грузополучатель" : "Consignee"
                }}</label
              >
            </div>
          </div>
          <div class="form d-flex">
            <div class="form-sender">
              <h3 class="form-headline">
                {{ langCookie == "ru" ? "Отправитель" : "Sender" }}
              </h3>
              <div class="form-sender__body">
                <div class="form-sender__body-email">
                  <input
                    required
                    aria-required="true"
                    title="Please fill out this field."
                    type="text"
                    v-model="sender.name"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Имя и фамилия *'
                        : 'First and last name *'
                    "
                  />
                </div>
                <div class="form-sender__body-email">
                  <input
                    required
                    aria-required="true"
                    v-model="sender.email"
                    type="email"
                    placeholder="E-mail *"
                  />
                </div>
              </div>
              <div class="form-sender__body-phone">
                <vue-phone-number-input
                  required
                  aria-required="true"
                  v-model="senderPhoneNumber"
                  @update="senderResults = $event"
                  v-bind="senderProps"
                  color="#FFA300"
                ></vue-phone-number-input>
                <div class="form-sender__body-phone-index">
                  <input
                    required
                    aria-required="true"
                    v-model="sender.index"
                    type="text"
                    :placeholder="
                      langCookie == 'ru' ? 'Почтовый индекс *' : 'Postal code *'
                    "
                  />
                </div>
              </div>

              <div
                v-if="addressesSenderList ? addressesSenderList.length : 0"
                class="form-sender__body-country"
              >
                <select
                  class="form-select"
                  v-model="addressSenderIndex"
                  @change="setSenderAddress"
                >
                  <option disabled value="Выберите адрес">
                    {{
                      langCookie == "ru"
                        ? "Выберите адрес *"
                        : "Select address *"
                    }}
                  </option>
                  <option
                    :value="index"
                    v-for="(add, index) in addressesSenderList"
                    :key="index"
                  >
                    {{ add.country_name }}, {{ add.city_name }},
                    {{ add.region_name }}
                  </option>
                </select>
              </div>

              <div class="form-sender__body-country">
                <select
                  class="form-select"
                  required
                  aria-required="true"
                  v-model="sender.country"
                  @change="getSenderCitiesList"
                >
                  <option disabled value="">
                    {{
                      langCookie == "ru"
                        ? "Выберите страну *"
                        : "Select country *"
                    }}
                  </option>
                  <option
                    :value="country.id"
                    v-for="country in countryList.data"
                    :key="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <div class="form-sender__body-country">
                <select
                  class="form-select"
                  required
                  aria-required="true"
                  v-model="sender.city"
                  @change="getSenderRegionsList"
                  :disabled="!sender.cities.length"
                >
                  <option disabled value="">
                    {{
                      langCookie == "ru" ? "Выберите город *" : "Select city *"
                    }}
                  </option>
                  <option
                    :value="city.id"
                    v-for="city in sender.cities"
                    :key="city.id"
                  >
                    {{ city.name }}
                  </option>
                </select>
                <select
                  class="form-select"
                  required
                  aria-required="true"
                  v-model="sender.region"
                  :disabled="!sender.regions.length"
                >
                  <option disabled value="">
                    {{
                      langCookie == "ru"
                        ? "Выберите регион *"
                        : "Select region *"
                    }}
                  </option>
                  <option
                    :value="region.id"
                    v-for="region in sender.regions"
                    :key="region.id"
                  >
                    {{ region.name }}
                  </option>
                </select>
              </div>
              <div class="form-sender__body-country">
                <input
                  v-model="sender.address"
                  required
                  aria-required="true"
                  type="text"
                  :placeholder="
                    langCookie == 'ru'
                      ? 'Название улицы, дома и т.д. *'
                      : 'Street name, house, etc. *'
                  "
                />
              </div>
              <div class="form-receiver__body-settings">
                <select
                  class="form-select"
                  v-model="sender.condition"
                  required
                  aria-required="true"
                >
                  <option
                    :value="condition.id"
                    v-for="condition in conditions"
                    :key="condition.id"
                    :selected="condition.id == 1"
                  >
                    {{ condition.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-receiver">
              <h3 class="form-headline">
                {{ langCookie == "ru" ? "Грузополучатель" : "Consignee" }}
              </h3>
              <div class="form-receiver__body">
                <div class="form-receiver__body-country">
                  <input
                    required
                    aria-required="true"
                    v-model="receiver.name"
                    type="text"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Имя и фамилия *'
                        : 'First and last name *'
                    "
                  />
                </div>
                <div class="form-receiver__body-country">
                  <input
                    required
                    aria-required="true"
                    v-model="receiver.email"
                    type="email"
                    placeholder="E-mail *"
                  />
                </div>
                <div class="form-receiver__body-phone">
                  <vue-phone-number-input
                    required
                    aria-required="true"
                    color="#FFA300"
                    v-model="receiverPhoneNumber"
                    @update="receiverResults = $event"
                    v-bind="receiverProps"
                  ></vue-phone-number-input>
                  <div class="form-sender__body-phone-index">
                    <input
                      required
                      aria-required="true"
                      v-model="receiver.index"
                      type="text"
                      :placeholder="
                        langCookie == 'ru'
                          ? 'Почтовый индекс *'
                          : 'Postal code *'
                      "
                    />
                  </div>
                </div>

                <div
                  v-if="
                    addressesReceiverList ? addressesReceiverList.length : 0
                  "
                  class="form-sender__body-country"
                >
                  <select
                    class="form-select"
                    v-model="addressReceiverIndex"
                    @change="setReceiverAddress"
                  >
                    <option disabled value="Выберите адрес">
                      {{
                        langCookie == "ru"
                          ? "Выберите адрес *"
                          : "Select address *"
                      }}
                    </option>
                    <option
                      :value="index"
                      v-for="(add, index) in addressesReceiverList"
                      :key="index"
                    >
                      {{ add.country_name }}, {{ add.city_name }},
                      {{ add.region_name }}
                    </option>
                  </select>
                </div>

                <div class="form-sender__body-country">
                  <select
                    required
                    aria-required="true"
                    class="form-select"
                    v-model="receiver.country"
                    @change="getReceiverCitiesList"
                  >
                    <option disabled value="">
                      {{
                        langCookie == "ru"
                          ? "Выберите страну *"
                          : "Select country *"
                      }}
                    </option>
                    <option
                      :value="country.id"
                      v-for="country in countryList.data"
                      :key="country.id"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                <div class="form-sender__body-country">
                  <select
                    required
                    aria-required="true"
                    class="form-select"
                    v-model="receiver.city"
                    @change="getReceiverRegionsList"
                    :disabled="!receiver.cities.length"
                  >
                    <option disabled value="">
                      {{
                        langCookie == "ru"
                          ? "Выберите город *"
                          : "Select city *"
                      }}
                    </option>
                    <option
                      :value="city.id"
                      v-for="city in receiver.cities"
                      :key="city.id"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <select
                    required
                    aria-required="true"
                    class="form-select"
                    v-model="receiver.region"
                    :disabled="!receiver.regions.length"
                  >
                    <option disabled value="">
                      {{
                        langCookie == "ru"
                          ? "Выберите регион *"
                          : "Select region *"
                      }}
                    </option>
                    <option
                      :value="region.id"
                      v-for="region in receiver.regions"
                      :key="region.id"
                    >
                      {{ region.name }}
                    </option>
                  </select>
                </div>
                <div class="form-sender__body-country">
                  <input
                    required
                    aria-required="true"
                    v-model="receiver.address"
                    type="text"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Название улицы, дома и т.д. *'
                        : 'Street name, house, etc. *'
                    "
                  />
                </div>
                <div class="form-receiver__body-methods">
                  <select
                    class="form-select"
                    v-model="receiver.method"
                    required
                    aria-required="true"
                  >
                    <option
                      :value="method.id"
                      v-for="method in methods"
                      :key="method.id"
                      :selected="method.id == 1"
                    >
                      {{ method.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <AboutSender :changed="changed" @sender="sender"></AboutSender> -->
        <!-- <AboutShipment @shipment="shipment" :error="error"></AboutShipment> -->

        <div class="c-cu-shipment">
          <div class="shipment">
            <h2 class="shipment-headline">
              {{ langCookie == "ru" ? "Данные о посылке" : "Parcel data" }}
            </h2>
            <div class="shipment-head row">
              <div class="shipment-head__add">
                <input
                  type="radio"
                  name="shipment"
                  id="adding"
                  v-model="productType"
                  value="adding"
                />
                <label for="adding">
                  {{
                    langCookie == "ru"
                      ? "Добавить сведения о продукте"
                      : "Add product details"
                  }}</label
                >
              </div>
              <div class="shipment-head__send">
                <input
                  type="radio"
                  name="shipment"
                  id="sending"
                  v-model="productType"
                  value="sending"
                />
                <label for="sending">
                  {{
                    langCookie == "ru" ? "Отправить файл" : "Send file"
                  }}</label
                >
              </div>
            </div>
            <div v-if="productType == 'adding'" class="shipment-body">
              <div class="shipment-body__header">
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Наименование *" : "Product name" }}
                </div>
                <div class="shipment-body__header-item">
                  {{
                    langCookie == "ru" ? "Tип упаковки" : "Type of packaging"
                  }}
                </div>
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Количество *" : "Quantity" }}
                </div>
                <div class="shipment-body__header-item">
                  {{
                    langCookie == "ru" ? "Обший обем(м3)" : "Total volume(m3)"
                  }}
                </div>
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Обший весь " : "Total weight(kg)" }}
                </div>
                <div class="shipment-body__header-action"></div>
              </div>
              <div class="shipment-body__body">
                <div
                  v-for="(item, index) in accordions"
                  :key="index"
                  class="shipment-body__body-item"
                >
                  <div class="shipment-body__body-item-input">
                    <input
                      required
                      aria-required="true"
                      type="text"
                      v-model="item.name"
                    />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <select
                      class="form-select"
                      v-model="item.colli"
                      @change="getColli"
                      :value="colliList?.length ? colliList.data[0].id : ''"
                    >
                      <option
                        :value="colli.id"
                        v-for="colli in colliList.data"
                        :key="colli.id"
                        :selected="colli.id == 1"
                      >
                        {{ colli.name }}
                      </option>
                    </select>
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input
                      required
                      aria-required="true"
                      type="number"
                      v-model="item.quantity"
                    />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input type="number" v-model="item.full_size" />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input type="number" v-model="item.full_weight" />
                  </div>
                  <div
                    class="shipment-body__body-item-action"
                    :class="accordionsLength > 1 ? '' : 'disabled'"
                  >
                    <button type="button" @click="removeItem(index)">-</button>
                  </div>
                </div>
              </div>
              <div class="shipment-body__footer">
                <div class="shipment-body__footer-item all">
                  {{ langCookie == "ru" ? "Итог" : "Total" }}
                </div>
                <div class="shipment-body__footer-item"></div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.quantity" disabled />
                </div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.full_size" disabled />
                </div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.full_weight" disabled />
                </div>
                <div class="shipment-body__footer-action">
                  <button type="button" @click="addShipment">+</button>
                </div>
              </div>
            </div>
            <div v-else class="sending" :class="isFileUploaded ? 'active' : ''">
              <input
                type="file"
                name=""
                id="input-file"
                @change="fileUploaded"
              />
              <button type="button" class="w-100" @click="uploadFile">
                <img
                  v-if="!isFileUploaded"
                  src="../../../../assets/icons/bxs-cloud-upload.svg"
                  alt="upload"
                />
                <img
                  v-else
                  src="../../../../assets/icons/bxs-cloud-uploaded.svg"
                  alt="upload"
                />
                <span>{{ file }}</span>
              </button>
            </div>
            <div class="shipment-footer">
              <div class="shipment-footer__comment">
                <textarea
                  cols="30"
                  rows="4"
                  :placeholder="langCookie == 'ru' ? 'Комментарии' : 'Comments'"
                  v-model="comment"
                ></textarea>
              </div>
              <div class="shipment-footer__warning" v-if="warning">
                <p class="shipment-footer__warning-text">
                  * -
                  {{
                    langCookie == "ru"
                      ? "Поле обязательно к заполнению"
                      : "The field must be filled in"
                  }}
                </p>
              </div>
              <div class="shipment-footer__submit">
                <div class="shipment-footer__submit-accept">
                  <input
                    class="form-check-input border-0"
                    type="checkbox"
                    required
                    aria-required="true"
                    id="accept"
                    v-model="termsAgreement"
                  />
                  <label for="accept"
                    >{{
                      langCookie == "ru"
                        ? 'Нажимая кнопку "Отправить", вы принимаете условия обработки персональных данных'
                        : 'By clicking the "Submit" button, you accept the processing conditions personal data'
                    }}
                  </label>
                </div>
                <div class="shipment-footer__submit-done">
                  <button
                    type="submit"
                    :class="termsAgreement ? 'done' : 'notDone'"
                  >
                    {{ langCookie == "ru" ? "Отправить" : "Send" }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import AboutSender from "@/components/user/Custom/Sender/AboutSender.vue";
import AboutShipment from "@/components/user/Custom/Shipment/AboutShipment.vue";
import Cookie from "js-cookie";
export default {
  components: { AboutSender, AboutShipment },
  data() {
    return {
      senderProps: {
        fetchCountry: true,
        translations: {
          phoneNumberLabel: "93 595 25 25",
        },
      },
      receiverProps: {
        fetchCountry: true,
        translations: {
          phoneNumberLabel: "93 595 25 25",
        },
      },
      receiverPhoneNumber: null,
      senderPhoneNumber: null,
      senderResults: null,
      receiverResults: null,
      owner: "sender",
      addressOwner: "sender",
      sender: {
        name: "",
        email: "",
        index: "",
        address: "",
        country: "",
        countries: [],
        city: "",
        cities: [],
        region: "",
        regions: [],
        condition: 1,
      },
      receiver: {
        name: "",
        email: "",
        index: "",
        address: "",
        country: "",
        countries: [],
        city: "",
        cities: [],
        region: "",
        regions: [],
        method: 1,
      },
      addressesSenderList: undefined,
      addressesReceiverList: undefined,
      addressSenderIndex: "Выберите адрес",
      addressReceiverIndex: "Выберите адрес",
      conditions: [],
      methods: [],
      product: {},
      comment: undefined,
      changed: true,
      applicationSenderForm: {},
      applicationShipmentForm: {},
      error: false,
      warning: false,
      productType: "adding",
      file: "No file chosen",
      isFileUploaded: false,
      accordions: [
        {
          name: "",
          colli: 1,
          quantity: null,
          full_size: 0,
          full_weight: 0,
        },
      ],
      comment: "",
      termsAgreement: false,
      selectedFile: null,
    };
  },

  watch: {
    countryList() {
      this.setCountryList();
    },
    senderCitiesList() {
      this.setSenderCitiesList();
    },
    senderRegionsList() {
      this.setSenderRegionsList();
    },
    conditionList() {
      this.setConditionList();
    },
    receiverCitiesList() {
      this.setReceiverCitiesList();
    },
    receiverRegionsList() {
      this.setReceiverRegionsList();
    },
    methodList() {
      this.setMethodList();
    },
  },
  computed: {
    countryList() {
      return this.$store.getters["application/getCountryList"];
    },
    senderCitiesList() {
      return this.$store.getters["application/getSenderCitiesList"];
    },
    senderRegionsList() {
      return this.$store.getters["application/getSenderRegionsList"];
    },
    conditionList() {
      return this.$store.getters["application/getConditionList"];
    },
    receiverCitiesList() {
      return this.$store.getters["application/getReceiverCitiesList"];
    },
    receiverRegionsList() {
      return this.$store.getters["application/getReceiverRegionsList"];
    },
    methodList() {
      return this.$store.getters["application/getMethodList"];
    },

    accordionsLength() {
      return this.accordions.length;
    },

    colliList() {
      return this.$store.getters["application/getColliList"];
    },

    result() {
      let a = {};
      a.quantity = 0;
      a.full_size = 0;
      a.full_weight = 0;

      this.accordions.forEach((elem) => {
        a.quantity += Number(elem.quantity);
        a.full_size += Number(elem.full_size);
        a.full_weight += Number(elem.full_weight);
      });

      return a;
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },

  methods: {
    saveData() {
      if (
        this.sender.name == "" ||
        this.sender.address == "" ||
        this.sender.email == "" ||
        this.senderResults.formattedNumber.length < 4 ||
        this.sender.index.length < 6 ||
        typeof this.sender.condition == "string" ||
        typeof this.sender.region == "string" ||
        typeof this.sender.city == "string" ||
        typeof this.sender.country == "string" ||
        this.receiver.name == "" ||
        this.receiver.address == "" ||
        this.receiver.email == "" ||
        this.receiverResults.formattedNumber.length < 4 ||
        this.receiver.index.length < 6 ||
        typeof this.receiver.method == "string" ||
        typeof this.receiver.region == "string" ||
        typeof this.receiver.city == "string" ||
        typeof this.receiver.country == "string"
      ) {
        this.warning = true;
      } else {
        let a = {};
        if (this.owner == "sender") {
          a.who_is = 1;
        } else if (this.owner == "receiver") {
          a.who_is = 2;
        }

        if (this.productType == "adding") {
          a.product_detail = 1;
        } else {
          a.product_detail = 2;
        }

        a.full_name = this.sender.name;
        a.full_name_from = this.receiver.name;
        a.email = this.sender.email;
        a.email_from = this.receiver.email;
        a.phone = this.senderResults.formattedNumber;
        a.phone_from = this.receiverResults.formattedNumber;
        a.region_id = this.sender.region;
        a.region_from_id = this.receiver.region;
        a.address = this.sender.address;
        a.address_from = this.receiver.address;
        a.mail_index = this.sender.index;
        a.mail_from_index = this.receiver.index;
        a.condition_id = this.sender.condition;
        a.delivery_id = this.receiver.method;
        if (this.comment) {
          a.comment = this.comment;
        }

        if (this.productType == "adding") {
          let allBooleans = [];
          this.accordions.forEach((elem) => {
            if (elem.name !== "" && elem.quantity !== 0) {
              allBooleans.push(true);
            } else {
              allBooleans.push(false);
            }
          });

          let isBoolean = allBooleans.every((element) => element === true);

          if (isBoolean) {
            a.product = [];

            this.accordions.forEach((elem) => {
              a.product.push({
                name: elem.name,
                packing_id: elem.colli,
                quantity: +elem.quantity,
                full_size: elem.full_size,
                total_weight: elem.full_weight,
              });
            });

            let payload = a;
            try {
              const token = Cookie.get("token");
              const lang = Cookie.get("lang");
              const headers = {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              };
              if (token) {
                // let path = this.$route.path.substring(0, this.$route.path.length-6)
                this.$axios
                  .post(`/application`, payload, { headers })
                  .then((result) => {
                    this.$router.push(
                      `/user/applications/${result.data.data.application_id}`
                    );
                  })
                  .catch((err) => {
                    alert(err);
                  });
              } else {
                const lang = Cookie.get("lang");
                this.$axios
                  .post(`/application`, payload, {
                    headers: {
                      "Content-Type": "application/json",
                      "X-Localization": lang,
                    },
                  })
                  .then(() => {
                    alert("Successfully sent !!!");
                  })
                  .catch((err) => {
                    alert(err);
                  });
              }
            } catch (error) {
              console.log(error);
            }
          } else {
            this.warning = true;
          }
        } else {
          const formData = new FormData();
          if (this.owner == "sender") {
            formData.append("who_is", 1);
          } else if (this.owner == "receiver") {
            formData.append("who_is", 2);
          }
          if (this.productType == "adding") {
            formData.append("product_detail", 1);
          } else {
            formData.append("product_detail", 2);
          }

          formData.append("products_detail_file", this.selectedFile);
          formData.append("full_name", this.sender.name);
          formData.append("full_name_from", this.receiver.name);
          formData.append("email", this.sender.email);
          formData.append("email_from", this.receiver.email);
          formData.append("phone", this.senderResults.formattedNumber);
          formData.append("phone_from", this.receiverResults.formattedNumber);
          formData.append("region_id", this.sender.region);
          formData.append("region_from_id", this.receiver.region);
          formData.append("address", this.sender.address);
          formData.append("address_from", this.receiver.address);
          formData.append("mail_index", this.sender.index);
          formData.append("mail_from_index", this.receiver.index);
          formData.append("condition_id", this.sender.condition);
          formData.append("delivery_id", this.receiver.method);
          if (this.comment) {
            formData.append("comment", this.comment);
          }

          try {
            const token = Cookie.get("token");
            const lang = Cookie.get("lang");
            const headers = {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            };
            if (token) {
              this.$axios
                .post(`/application`, formData, { headers })
                .then((result) => {
                  this.$router.push(
                    `/user/applications/${result.data.data.application_id}`
                  );
                })
                .catch((err) => {
                  alert(err);
                });
            } else {
              const lang = Cookie.get("lang");
              this.$axios
                .post(`/application`, formData, {
                  headers: {
                    "Content-Type": "application/json",
                    "X-Localization": lang,
                  },
                })
                .then(() => {
                  alert("Successfully sent !!!");
                })
                .catch((err) => {
                  alert(err);
                });
            }
          } catch (error) {
            console.log(error);
          }
        }
      }

      this.warning = false;
    },
    uploadFile() {
      document.getElementById("input-file").click();
    },
    fileUploaded(event) {
      this.selectedFile = event.target.files[0];
      this.file = document.getElementById("input-file").value;
      this.isFileUploaded = true;
    },
    addShipment() {
      this.accordions.push({
        name: "",
        colli: 1,
        quantity: 0,
        full_size: 0,
        full_weight: 0,
      });
    },
    removeItem(ind) {
      this.accordions.splice(ind, 1);
    },
    getColli(id) {
      this.colliId = id;
    },
    getData() {
      this.$store.dispatch("application/getCountryList");
      this.$store.dispatch("application/getConditionList");
      this.$store.dispatch("application/getMethodList");
    },
    setCountryList() {
      this.sender.countries = this.countryList.data;
      this.receiver.countries = this.countryList.data;
    },
    getSenderCitiesList(e) {
      this.$store.dispatch("application/getSenderCitiesList", e.target.value);
    },
    setSenderCitiesList() {
      this.sender.cities = this.senderCitiesList.data;
    },
    getSenderRegionsList(e) {
      this.$store.dispatch("application/getSenderRegionsList", e.target.value);
    },
    setSenderRegionsList() {
      this.sender.regions = this.senderRegionsList.data;
    },
    setConditionList() {
      this.conditions = this.conditionList.data;
    },
    getReceiverCitiesList(e) {
      this.$store.dispatch("application/getReceiverCitiesList", e.target.value);
    },
    setReceiverCitiesList() {
      this.receiver.cities = this.receiverCitiesList.data;
    },
    getReceiverRegionsList(e) {
      this.$store.dispatch(
        "application/getReceiverRegionsList",
        e.target.value
      );
    },
    setReceiverRegionsList() {
      this.receiver.regions = this.receiverRegionsList.data;
    },
    setMethodList() {
      this.methods = this.methodList.data;
    },
    sendData() {
      this.sender(
        this.sender,
        this.receiver,
        this.owner,
        this.senderResults.formattedNumber,
        this.receiverResults.formattedNumber
      );
    },
    getAddressesSenderList() {
      const token = Cookie.get("token");
      if (token) {
        try {
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/user/address/list`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.addressesSenderList = result.data.data;
              console.log(result.data.data);
            })
            .catch((err) => {
              console.log(err);
            });
        } catch (error) {
          console.log(error);
        }
      }
    },
    getAddressesReceiverList() {
      const token = Cookie.get("token");
      if (token) {
        try {
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/user/address/list`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.addressesReceiverList = result.data.data;
              console.log(result.data.data);
            })
            .catch((err) => {
              console.log(err);
            });
        } catch (error) {
          console.log(error);
        }
      }
    },
    setSenderAddress() {
      let newAddress = this.addressesSenderList[this.addressSenderIndex];

      this.sender.name = newAddress.full_name;
      this.sender.email = newAddress.email;
      this.sender.index = newAddress.pochta_index;
      this.sender.address = newAddress.adres_userfull;
      this.senderProps.defaultCountryCode = newAddress.short;
      this.senderPhoneNumber = newAddress.phone;

      this.countryList.data.forEach((elem) => {
        if (elem.name == newAddress.country_name) {
          this.sender.country = elem.id;
        }
      });

      this.$store.dispatch(
        "application/getSenderCitiesList",
        this.sender.country
      );

      setTimeout(() => {
        if (this.senderCitiesList.data.length) {
          this.senderCitiesList.data.forEach((elem) => {
            if (elem.name == newAddress.city_name) {
              this.sender.city = elem.id;
            }
          });
        }
      }, 1000);

      setTimeout(() => {
        this.$store.dispatch(
          "application/getSenderRegionsList",
          this.sender.city
        );
      }, 1100);

      setTimeout(() => {
        if (this.senderRegionsList.data.length) {
          this.senderRegionsList.data.forEach((elem) => {
            if (elem.name == newAddress.region_name) {
              this.sender.region = elem.id;
            }
          });
        }
      }, 2000);
    },

    setReceiverAddress() {
      let newAddress = this.addressesReceiverList[this.addressReceiverIndex];

      this.receiver.name = newAddress.full_name;
      this.receiver.email = newAddress.email;
      this.receiver.index = newAddress.pochta_index;
      this.receiver.address = newAddress.adres_userfull;
      this.receiverProps.defaultCountryCode = newAddress.short;
      this.receiverPhoneNumber = newAddress.phone;

      this.countryList.data.forEach((elem) => {
        if (elem.name == newAddress.country_name) {
          this.receiver.country = elem.id;
        }
      });

      this.$store.dispatch(
        "application/getReceiverCitiesList",
        this.receiver.country
      );

      setTimeout(() => {
        if (this.receiverCitiesList.data.length) {
          this.receiverCitiesList.data.forEach((elem) => {
            if (elem.name == newAddress.city_name) {
              this.receiver.city = elem.id;
            }
          });
        }
      }, 1000);

      setTimeout(() => {
        this.$store.dispatch(
          "application/getReceiverRegionsList",
          this.receiver.city
        );
      }, 1100);

      setTimeout(() => {
        if (this.receiverRegionsList.data.length) {
          this.receiverRegionsList.data.forEach((elem) => {
            if (elem.name == newAddress.region_name) {
              this.receiver.region = elem.id;
            }
          });
        }
      }, 2000);
    },
  },

  mounted() {
    this.getData();
    this.getAddressesReceiverList();
    this.getAddressesSenderList();
  },
};
</script>

<style lang="scss" scoped>
@import "./FormView.style.scss";
</style>
