<template>
  <div class="c-cu-navbar">
    <div class="container-xxl">
      <div class="navbar-header d-flex justify-content-end">
        <nav> 
          <ul class="navbar-header__list">
            <li
              class="navbar-header__list-item"
              v-if="userRole"
              style="cursor: pointer"
              @click="$router.push(`/${userRole}`)"
            >
              <a
                class="navbar-header__list-item-link d-flex align-items-center"
              >
                <img src="@/assets/icons/user.svg" alt="user" />
                
                <span>
                  {{
                    langCookie == "ru" ? "Лычний кабинет" : "Personal account"
                  }}
                </span></a
              >
            </li>

            <li class="navbar-header__list-item" v-else>
              <a
                class="navbar-header__list-item-link d-flex align-items-center"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#modal"
              >
                <img src="@/assets/icons/user.svg" alt="user" />
                <span>{{
                  langCookie == "ru" ? "Авторизоваться" : "Log in"
                }}</span></a
              >
            </li>
            <li class="navbar-header__list-item">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="@/assets/icons/lang.svg" alt="nastroyka" />
                  <span>{{ langs[lang] }}</span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    v-for="(item, index) in langs"
                    :key="index"
                    style="cursor: pointer"
                    @click="chooseLang(index)"
                  >
                    <img src="@/assets/icons/lang.svg" alt="nastroyka" />
                    <span>{{ item }}</span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="auth-button"
            ></button>
          </div>
          <div class="modal-body">
            <div class="modal-body__header">
              <div class="modal-body__header-title">
                {{ langCookie == "en" ? "Welcome to" : "Добро пожаловать в" }}
              </div>
              <div class="modal-body__header-logo">
                <img src="@/assets/icons/auth-logo.svg" alt="" />
              </div>
            </div>
            <div v-if="authType == 0 || authType == 1" class="modal-body__body">
              <div class="input-group mt-3" v-if="authType == 1">
                <input
                  type="text"
                  v-model="user.fullName"
                  class="form-control"
                  :placeholder="
                    langCookie == 'en' ? 'Full name' : 'Ваш имя и фамилия'
                  "
                  aria-label="Full name"
                  aria-describedby="basic-addon2"
                  @input="checkWarning"
                />
                <span class="input-group-text" id="basic-addon2">
                  <img
                    src="../../../../assets/icons/input-user.svg"
                    alt="email"
                  />
                </span>
              </div>

              <p
                class="modal-body__body-warning"
                v-if="authType == 1 && warning.fullNameStatus"
              >
                {{ warning.fullName }}
              </p>

              <div class="input-group mt-3">
                <input
                  type="email"
                  v-model="user.email"
                  class="form-control"
                  placeholder="E-mail"
                  aria-label="E-mail"
                  aria-describedby="basic-addon2"
                  @input="checkWarning"
                />
                <span class="input-group-text" id="basic-addon2">
                  <img src="@/assets/icons/auth-email.svg" alt="email" />
                </span>
              </div>

              <p class="modal-body__body-warning" v-if="warning.emailStatus">
                {{ warning.email }}
              </p>

              <div class="input-group mt-3" v-if="authType == 1">
                <input
                  type="number"
                  v-model="user.phoneNumber"
                  class="form-control"
                  :placeholder="
                    langCookie == 'en' ? 'Phone number' : 'Номер телефона'
                  "
                  aria-label="Phone number"
                  aria-describedby="basic-addon2"
                  @input="checkWarning"
                />
                <span class="input-group-text" id="basic-addon2">
                  <img src="@/assets/icons/contact-phone.svg" alt="email" />
                </span>
              </div>

              <p
                class="modal-body__body-warning"
                v-if="authType == 1 && warning.phoneNumberStatus"
              >
                {{ warning.phoneNumber }}
              </p>

              <div class="input-group mt-3">
                <input
                  :type="!passwordShow ? 'password' : 'text'"
                  v-model="user.password"
                  class="form-control"
                  :placeholder="
                    langCookie == 'en' ? 'Password' : 'Ведите пароль'
                  "
                  aria-label="Password"
                  aria-describedby="basic-addon3"
                  @input="checkWarning"
                />
                <span class="input-group-text" id="basic-addon3">
                  <img
                    v-if="!passwordShow"
                    @click="passwordToggle"
                    src="@/assets/icons/auth-show-password.svg"
                    alt=""
                  />
                  <img
                    v-else
                    @click="passwordToggle"
                    src="@/assets/icons/auth-hide-password.svg"
                    alt=""
                  />
                </span>
              </div>

              <p class="modal-body__body-warning" v-if="warning.passwordStatus">
                {{ warning.password }}
              </p>

              <div class="input-group mt-3" v-if="authType == 1">
                <input
                  :type="!passwordConfirmShow ? 'password' : 'text'"
                  class="form-control"
                  v-model="user.confirmPassword"
                  :placeholder="
                    langCookie == 'en' ? 'Confirm Password' : 'Повторите пароль'
                  "
                  aria-label="Confirm Password"
                  aria-describedby="basic-addon4"
                  @input="checkWarning"
                />
                <span class="input-group-text" id="basic-addon4">
                  <img
                    v-if="!passwordConfirmShow"
                    src="@/assets/icons/auth-show-password.svg"
                    @click="passwordConfirmToggle"
                    alt=""
                  />
                  <img
                    v-else
                    src="@/assets/icons/auth-hide-password.svg"
                    @click="passwordConfirmToggle"
                    alt=""
                  />
                </span>
              </div>

              <p
                class="modal-body__body-warning"
                v-if="authType == 1 && warning.confirmPasswordStatus"
              >
                {{ warning.confirmPassword }}
              </p>

              <input
                class="mt-3"
                v-if="authType == 1"
                type="checkbox"
                id="terms"
              />
              <label class="mt-3" v-if="authType == 1" for="terms">{{
                langCookie == "en"
                  ? "I agree to the terms of service"
                  : "Я согласен с условиями предоставления услуг"
              }}</label>

              <!-- <div
                class="modal-body__body-forget mt-3"
                v-else
                @click="authType = 2"
              >
                Forgot password ?
              </div> -->
            </div>

            <div v-else-if="authType == 2" class="modal-body__forget">
              <div class="input-group mt-3">
                <input
                  type="email"
                  v-model="user.email"
                  class="form-control"
                  placeholder="E-mail"
                  aria-label="E-mail"
                  aria-describedby="basic-addon2"
                />
                <span class="input-group-text" id="basic-addon2">
                  <img src="@/assets/icons/auth-email.svg" alt="email" />
                </span>
              </div>

              <p class="modal-body__body-warning" v-if="warning.emailStatus">
                {{ warning.email }}
              </p>
            </div>

            <div v-else-if="authType == 3" class="modal-body__forget">
              <div
                class="d-flex justify-content-center flex-column align-items-center w-100"
              >
                <ul
                  class="code-wrapper list-unstyled justify-content-between d-flex"
                >
                  <li class="code-wrapper-item">
                    <input type="number" required class="code-wrapper-input" />
                  </li>
                  <li class="code-wrapper-item">
                    <input type="number" class="code-wrapper-input" />
                  </li>
                  <li class="code-wrapper-item">
                    <input type="number" class="code-wrapper-input" />
                  </li>
                  <li class="code-wrapper-item">
                    <input type="number" class="code-wrapper-input" />
                  </li>
                </ul>
                <div class="d-flex justify-content-center w-100">
                  <p v-if="currentTimeInSeconds > 0">
                    {{ timeDisplay }}
                  </p>
                  <p class="label label-success" @click="resend" v-else>
                    Send Reset Instructions
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <p v-if="signUpErrorVisible" style="color: red">
              {{ signUpError }}
            </p>
            <button type="button" class="btn btn-primary" @click="check">
              {{
                authType == 0
                  ? langCookie == "en"
                    ? "SIGN IN"
                    : "ВОЙТИ"
                  : authType == 1
                  ? langCookie == "en"
                    ? "SIGN UP"
                    : "Регистрация"
                  : "SEND RESET INSTRUCTIONS"
              }}
            </button>
            <p v-if="authType == 0">
              {{
                langCookie == "en"
                  ? "Don't have an account?"
                  : "У меня нет учетной записи!"
              }}
              <a @click="changeAuthType(1)"
                >{{ langCookie == "en" ? "Sign in" : "Войти" }}
              </a>
            </p>
            <p v-if="authType == 1">
              {{
                langCookie == "en"
                  ? "Already with us?"
                  : "У меня есть учетная запись"
              }}
              <a @click="changeAuthType(0)">
                {{ langCookie == "en" ? "Sign up" : "Регистрация" }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      lang: 1,
      langs: ["Руcский", "English"],
      currentTimeInSeconds: 120,
      authType: 0,
      passwordShow: false,
      passwordConfirmShow: false,
      signUpErrorVisible: false,
      signUpError: "",
      user: {
        email: "",
        password: "",
        fullName: "",
        phoneNumber: "",
        confirmPassword: "",
        confirmCode: "",
      },
      warning: {
        email: "Enter your E-mail*",
        emailStatus: false,
        password: "Enter your password*",
        passwordStatus: false,
        fullName: "Enter your name*",
        fullNameStatus: false,
        phoneNumber: "Enter your phone number*",
        phoneNumberStatus: false,
        confirmPassword: "Confirm the password*",
        confirmPasswordStatus: false,
      },
      allStatuses: false,
    };
  },
  computed: {
    ...mapGetters({ userInfo: "auth/getUser", newUserRole: "auth/getRole" }),
    userRole() {
      return Cookie.get("role");
    },
    userToken() {
      return Cookie.get("token");
    },
    timeDisplay() {
      const minutes = parseInt(this.currentTimeInSeconds / 60);
      const seconds = this.currentTimeInSeconds % 60;
      const paddedMinutes = ("0" + minutes).slice(-2);
      const paddedSeconds = ("0" + seconds).slice(-2);
      return `${paddedMinutes} : ${paddedSeconds}`;
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },

  methods: {
    chooseLang(ind) {
      if (ind == 1) {
        Cookie.set("lang", "en");
      } else {
        Cookie.set("lang", "ru");
      }
      this.lang = ind;

      window.location.reload();
    },
    passwordConfirmToggle() {
      this.passwordConfirmShow = !this.passwordConfirmShow;
    },

    passwordToggle() {
      this.passwordShow = !this.passwordShow;
    },

    changeAuthType(e) {
      this.authType = e;
    },

    async check() {
      if (this.authType == 0) {
        if (this.user.email.trim() !== "" && this.user.password.trim() !== "") {
          if (this.user.password.trim().length > 5) {
            let credentials = {
              username: this.user.email,
              password: this.user.password,
            };

            try {
            const lang = Cookie.get('lang')
              this.$axios
                .post("/login", credentials, {
                  headers: {
                    "Content-Type": "application/json",
                    "X-Localization": lang,
                  },
                })
                .then((result) => {
                  this.$store.commit(
                    "auth/SET_TOKEN",
                    result.data.access_token
                  );
                  Cookie.set("token", result.data.access_token);
                  this.$store.commit("auth/SET_USER", result.data.user);
                  Cookie.set("user", result.data.user.full_name);
                  this.$store.commit("auth/SET_ROLE", result.data.role);
                  Cookie.set("role", result.data.role);

                  if (result.data.role) {
                    document.getElementById("auth-button").click();
                    this.$router.push(`/${result.data.role}`);
                  } else {
                    this.warning.password =
                      "Login or password is incorrect. Try again!";
                    this.warning.passwordStatus = true;
                  }
                })
                .catch((err) => {
                  console.log(err);
                });
            } catch (error) {
              console.log(error);
            }
          } else {
            this.warning.password =
              "The password must be at least 6 characters.";
            this.checkWarning();
            this.warning.passwordStatus = true;
          }
        } else {
          this.checkWarning();
        }
      } else if (this.authType == 2) {
        this.authType = 3;
        this.startCount();
      } else {
        if (
          this.user.email.trim() !== "" &&
          this.user.password.trim() !== "" &&
          this.user.fullName &&
          this.user.phoneNumber &&
          this.user.confirmPassword
        ) {
          if (this.user.password == this.user.confirmPassword) {
            this.$store.dispatch("auth/register", {
              full_name: this.user.fullName,
              password: this.user.password,
              email: this.user.email,
              phone: this.user.phoneNumber,
              password_confirmation: this.user.confirmPassword,
            });
          } else {
            this.signUpError = "Password must be match";
            this.signUpErrorVisible = true;
          }
        }
      }
    },

    resend() {
      this.currentTimeInSeconds = 120;
    },

    startCount() {
      setInterval(() => {
        if (this.currentTimeInSeconds > 0) {
          this.currentTimeInSeconds--;
        }
      }, 1000);
    },

    checkWarning() {
      let warningNames = Object.keys(this.user);
      let statuses = [];
      warningNames.forEach((elem) => {
        let statusName = elem + "Status";
        statuses.push(statusName);
        if (this.user[elem].length) {
          this.warning[statusName] = false;
        } else {
          this.warning[statusName] = true;
        }
      });

      if (statuses.every((element) => element === true)) {
        this.allStatuses = true;
      } else {
        this.allStatuses = false;
      }
    },
  },

  mounted() {
    if (Cookie.get("lang")) {
      if (Cookie.get("lang") == "en") {
        this.lang = 1;
      } else {
        this.lang = 0;
      }
    } else {
      Cookie.set("lang", "en");
      this.lang = 1;
    }
  },
};
</script>

<style lang="scss" scoped>
@import "./NavbarHeader.style.scss";
</style>
