@import "./index.scss";
@import "./variables.scss";

.p-a-dashboard {
  display: flex;
  background: url("../assets/images/admin-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .dashboard {
    width: 78%;
    height: 100vh;
    background: transparent;
    overflow-y: auto;
  }

  .small-dashboard {
    width: 95%;
    height: 100vh;
    background: transparent;
    overflow-y: auto;
  }

  .dashboard-header {
    padding: 25px 36px;
    background: #f8f8f8;
    align-items: center;

    &__search {
      margin: 0 !important;
      background: #fefefe;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      padding: 6px;

      input {
        padding: 1rem 25px;
        border-radius: 10px 0 0 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        border: none;

        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
        }

        &:focus {
          box-shadow: none;
          border: none;
        }
      }

      span {
        border-radius: 0 10px 10px 0;
        background: #fefefe;
        border: none;
        padding: 0;
        margin-left: 0.4rem;
        img {
          padding: 12px;
          background: #1e4382;
          border-radius: 10px;
        }
      }
    }

    &__notification,
    &__chat,
    &__profile {
      button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile {
          margin-left: 4px;
          padding-right: 2rem;

          p {
            margin: 0;
            text-align: left;
          }

          &-name {
            color: black;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }

          &-role {
            font-weight: 500;
            font-size: 14.2857px;
            line-height: 150%;
            color: #a3a3a3;
          }
        }

        &:focus {
          background-color: transparent;
          box-shadow: none;
        }

        &:focus-visible {
          box-shadow: none;
        }

        &:active {
          background-color: transparent;
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }

  .dashboard-filter {
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 3rem;

    & > * {
      margin-right: 14px;
      flex: 3;
    }

    p {
      flex: 1;
      margin: 0;
      text-align: right;
      padding-right: 1rem;
    }

    input {
      background: #ffffff;
      border-radius: 12px;
      border: none;
      box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
      padding: 20px 16px;

      &:focus {
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
      }
    }

    select {
      border-radius: 12px;
      border: none;
      box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    }

    button {
      background: #1e4382;
      border-radius: 12px;
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
