.main {
  padding: 60px 0;

  &-title {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
  }

  &-header {
    &__card {
      cursor: pointer;
      padding: 1rem;
      background: #ffffff;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-weight: 600;
          font-size: 45px;
          line-height: 55px;
        }

        h2 {
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 1rem;
          margin-left: 1rem;
        }

        &-icon {
          background: rgba(36, 136, 247, 0.2);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-text {
        font-weight: 600;
        font-size: 21px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.5);
      }

      &-body {
        display: flex;
        align-items: center;

        &-icon {
          margin-right: 2rem;
        }

        &-text {
          h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            color: #1e4382;
          }
          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }

  &-body {
    margin-top: 2rem;
    background: #fefefe;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 150%;
      padding: 1.5rem 0 2rem 1.5rem;
    }

    table {
      thead {
        background: rgba(54, 160, 234, 0.1);

        tr {
          width: 100%;

          th {
            flex: 1;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            padding-left: 1rem;
            width: max-content !important;
          }

          td {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }

  &-footer {
    ul {
      li {
        a {
          border: none;
          color: rgba(0, 0, 0, 0.5);
          padding: 0.2rem 0.4rem;
          &.active {
            color: black;
            background-color: transparent;
            border-bottom: 1px solid #2d50c8;
          }

          &:hover &:not(:last-child, :first-child) {
            background-color: transparent;
            border-bottom: 1px solid #2d50c8;
          }
        }
      }
    }
  }

  .banner {
    margin: 4rem 0 0 0;
    img {
      width: 100%;
    }
  }
}
