.dashboard-header {
  padding: 25px 36px;
  background: #f8f8f8;
  align-items: center;

  &__search {
    margin: 0 !important;
    background: #fefefe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding: 6px;

    input {
      padding: 1rem 25px;
      border-radius: 10px 0 0 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      border: none;

      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
      }

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    span {
      border-radius: 0 10px 10px 0;
      background: #fefefe;
      border: none;
      padding: 0;
      margin-left: 0.4rem;
      img {
        padding: 12px;
        background: #1e4382;
        border-radius: 10px;
      }
    }
  }

  &__notification,
  &__chat,
  &__profile {
    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .profile {
        margin-left: 4px;
        padding-right: 2rem;

        p {
          margin: 0;
          text-align: left;
        }

        &-name {
          color: black;
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
        }

        &-role {
          font-weight: 500;
          font-size: 14.2857px;
          line-height: 150%;
          color: #a3a3a3;
        }
      }

      &:focus {
        background-color: transparent;
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: none;
      }

      &:active {
        background-color: transparent;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      width: 350px;

      &-end {
        span {
          cursor: pointer;
        }
      }

      .show-all {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);

        h3 {
          font-weight: 600;
          font-size: 21.7834px;
          line-height: 150%;
          color: #000000;
        }

        a {
          font-weight: 500;
          font-size: 15px;
          line-height: 150%;
          text-decoration-line: underline;
          color: #fbc159;
        }
      }

      .dropdown-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        &__info {
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 0.5rem;
          h3,
          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }

          p {
            margin-top: -10px !important;
          }

          h3 {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        &__date {
          width: 20%;
          .circle {
            padding: 0.1rem 0.7rem;
            background: rgb(0, 115, 255);
            border-radius: 50%;
            color: white;
          }
          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .language-dopdown {
    width: 35px !important;
    margin-left: 0.5rem;
    li {
      cursor: pointer;
    }
  }

  &__logout {
    cursor: pointer;
  }
}
