<template>
  <div class="dashboard-header d-flex justify-content-end">
    <div class="dropdown dashboard-header__notification">
      <button
        class="btn btn-primary dropdown-toggle position-relative"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-auto-close="inside"
        @click="markAsAllRead"
      >
        <img src="@/assets/icons/admin/admin-notification.png" alt="" />

        <span
          v-if="notifications.length"
          class="position-absolute top-0 end-0 badge rounded-pill bg-danger"
        >
          {{ notifications.length ? notifications.length : "" }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <ul class="dropdown-menu p-0">
        <li
          class="show-all d-flex justify-content-between align-items-center px-3 pt-3"
        >
          <h3 class="mr-3">
            {{ activeLang == "en" ? "Notifications" : "Уведомления" }}
          </h3>
        </li>
        <li v-if="notifications.length">
          <div v-for="notification in notifications" :key="notification.id">
            <a
              class="dropdown-item px-3 pt-3 justify-content-between d-flex w-100"
              :href="notification.link ? notification.link : ''"
            >
              <div class="dropdown-item__info">
                <h3>{{ notification.sender }}</h3>
                <p>{{ notification.text }}</p>
              </div>
              <div
                class="dropdown-item__date flex-column d-flex justify-content-between align-items-end"
              >
                <p>{{ notification.created_at.slice(0, 10) }}</p>
              </div>
            </a>
          </div>
        </li>

        <li class="p-3" v-if="!notifications.length">
          {{
            activeLang == "en"
              ? "There is no any new notifications"
              : "Никаких новых уведомлений нет"
          }}
        </li>

        <li>
          <nuxt-link
            class="dropdown-item px-3 pt-3 justify-content-center d-flex w-100"
            to="/logis/notifications"
          >
            {{ activeLang == "en" ? "View all" : "View all" }}
          </nuxt-link>
        </li>
      </ul>
    </div>
    <div class="btn-group dashboard-header__chat">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="@/assets/icons/admin/admin-chat.png" alt="" />

        <span
          v-if="newMessages.length"
          class="position-absolute top-0 end-0 badge rounded-pill bg-danger"
        >
          {{ newMessages.length ? newMessages.length : "" }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <ul class="dropdown-menu p-0">
        <li
          class="show-all d-flex justify-content-between align-items-center px-3 pt-3"
        >
          <h3>{{ activeLang == "en" ? "Messages" : "Сообщения" }}</h3>
        </li>
        <li>
          <div v-for="message in newMessages" :key="message.id">
            <a
              class="dropdown-item px-3 py-3 justify-content-between d-flex"
              href="/logis/chat-operator"
            >
              <div
                class="dropdown-item__message justify-content-between d-flex align-items-center"
              >
                <img :src="message.user.new_image" alt="" />
                <div class="dropdown-item__info ml-2">
                  <h3 class="">{{ message.user.full_name }}</h3>
                  <p class="m-0 p-0">{{ message.message_text }}</p>
                </div>
              </div>
              <div
                class="dropdown-item__date flex-column d-flex justify-content-between align-items-end"
              >
                <div class="circle">{{ message.user.count }}</div>
                <p class="m-0">{{ message.time }}</p>
              </div>
            </a>
          </div>
        </li>

        <li class="p-3" v-if="!messages.length">
          {{
            activeLang == "en"
              ? "There is no any new messages"
              : "Никаких новых сообщений нет"
          }}
        </li>
      </ul>
    </div>
    <div class="btn-group dashboard-header__chat">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            v-if="activeLang == 'en'"
            src="@/assets/images/usa-flag.svg"
            alt=""
          />
          <img v-else src="@/assets/images/russian-flag.svg" alt="" />
        </button>
        <ul
          class="dropdown-menu language-dopdown"
          style="width: 40px !important; min-width: 40px !important"
        >
          <li
            style="width: 35px"
            @click="selectLang(activeLang == 'ru' ? 'en' : 'ru')"
          >
            <img
              v-if="activeLang == 'ru'"
              src="@/assets/images/usa-flag.svg"
              alt=""
            />
            <img v-else src="@/assets/images/russian-flag.svg" alt="" />
          </li>
        </ul>
      </div>
    </div>
    <div class="dashboard-header__profile">
      <button class="btn btn-primary" type="button">
        <div class="profile">
          <p class="profile-name">{{ userInfo }}</p>
          <p class="profile-role">{{ role }}</p>
        </div>
      </button>
    </div>
    <div class="dashboard-header__logout" @click="logout">
      <svg
        width="25"
        height="25"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"
        />
      </svg>
      {{ activeLang == "en" ? "Log out" : "Выйти " }}
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  data() {
    return {
      notifications: [],
      messages: [],
      status: undefined,
    };
  },
  computed: {
    role() {
      return Cookie.get("role");
    },
    userInfo() {
      return Cookie.get("user");
    },
    activeLang() {
      return Cookie.get("lang");
    },
    newMessages() {
      let a = [];
      a = this.messages;
      a.forEach((elem) => {
        elem.user.new_image =
          process.env.baseUrl + "/" + JSON.parse(elem.user.avatar)?.file_path;
      });

      return a;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },

    getNotifications() {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        this.$axios
          .get("/notification", {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then((result) => {
            this.notifications = result.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }
    },

    getMessages() {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        this.$axios
          .get("/chat/notification", {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then((result) => {
            this.messages = result.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }
    },

    markAsAllRead() {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");
      if (!this.status) {
        this.status = true;
        try {
          this.$axios
            .get("/notification", {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.notifications = result.data.data;
            })
            .catch((err) => {
              console.log(err);
            });
        } catch (error) {
          console.log(error);
        }
      } else {
        this.status = false;
        try {
          this.$axios
            .get("/notification/used", {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then(() => {})
            .catch((err) => {
              console.log(err);
            });
        } catch (error) {
          console.log(error);
        }
      }
    },

    selectLang(lang) {
      Cookie.set("lang", lang);
      window.location.reload();
    },
  },

  mounted() {
    this.getNotifications();
    this.getMessages();
  },
};
</script>

<style lang="scss" scoped>
@import "./UserHeader.style.scss";
</style>
