<template>
  <div class="p-user-application-create">
    <div class="container-xxl">
      <button class="btn btn-info mt-3" @click="$router.go(-1)">Go back</button>
    </div>
    <div class="c-l-form">
      <div class="container-xxl">
        <h1 class="custom-headline">
          {{
            langCookie == "ru"
              ? "Заполните заявка"
              : "Fill out the application form"
          }}
        </h1>

        <div class="c-cu-sender">
          <div class="form-sender__header">
            <div>
              <input
                type="radio"
                v-model="owner"
                checked
                name="personal"
                value="sender"
                id="sender"
              />
              <label for="sender">
                {{ langCookie == "ru" ? "Отправитель" : "Sender" }}</label
              >
            </div>
            <div>
              <input
                type="radio"
                v-model="owner"
                value="receiver"
                name="personal"
                id="receiver"
              />
              <label for="receiver">
                {{
                  langCookie == "ru" ? "Грузополучатель" : "Consignee"
                }}</label
              >
            </div>
          </div>
          <div class="form d-flex">
            <div class="form-sender">
              <h3 class="form-headline">
                {{ langCookie == "ru" ? "Отправитель" : "Sender" }}
              </h3>
              <div class="form-sender__body">
                <div class="form-sender__body-email">
                  <input
                    type="text"
                    v-model="sender.name"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Имя и фамилия *'
                        : 'First and last name *'
                    "
                  />
                </div>
                <div class="form-sender__body-email">
                  <input
                    v-model="sender.email"
                    type="text"
                    placeholder="E-mail *"
                  />
                </div>
              </div>
              <div class="form-sender__body-phone">
                <!-- <vue-phone-number-input
                  v-model="senderPhoneNumber"
                  @update="senderResults = $event"
                  v-bind="senderProps"
                  color="#FFA300"
                ></vue-phone-number-input> -->
                <div class="form-sender__body-phone-index pr-3">
                  <input
                    v-model="senderPhoneNumber"
                    type="text"
                    :placeholder="
                      langCookie == 'ru' ? 'Номер телефона *' : 'Phone number *'
                    "
                  />
                </div>
                <div class="form-sender__body-phone-index">
                  <input
                    v-model="sender.index"
                    type="text"
                    :placeholder="
                      langCookie == 'ru' ? 'Почтовый индекс *' : 'Postal code *'
                    "
                  />
                </div>
              </div>

              <div class="form-sender__body-country">
                <select
                  class="form-select"
                  v-model="sender.country"
                  @change="getSenderCitiesList"
                >
                  <option disabled value="Выберите страну">
                    {{
                      langCookie == "ru"
                        ? "Выберите страну *"
                        : "Select country *"
                    }}
                  </option>
                  <option
                    :value="country.id"
                    v-for="country in countryList.data"
                    :key="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <div class="form-sender__body-country">
                <select
                  class="form-select"
                  v-model="sender.city"
                  @change="getSenderRegionsList"
                  :disabled="!sender.cities.length"
                >
                  <option disabled value="Выберите город">
                    {{
                      langCookie == "ru" ? "Выберите город *" : "Select city *"
                    }}
                  </option>
                  <option
                    :value="city.id"
                    v-for="city in sender.cities"
                    :key="city.id"
                  >
                    {{ city.name }}
                  </option>
                </select>
                <select
                  class="form-select"
                  v-model="sender.region"
                  :disabled="!sender.regions.length"
                >
                  <option disabled value="Выберите регион">
                    {{
                      langCookie == "ru"
                        ? "Выберите регион *"
                        : "Select region *"
                    }}
                  </option>
                  <option
                    :value="region.id"
                    v-for="region in sender.regions"
                    :key="region.id"
                  >
                    {{ region.name }}
                  </option>
                </select>
              </div>
              <div class="form-sender__body-country">
                <input
                  v-model="sender.address"
                  type="text"
                  :placeholder="
                    langCookie == 'ru'
                      ? 'Название улицы, дома и т.д. *'
                      : 'Street name, house, etc. *'
                  "
                />
              </div>
              <div class="form-receiver__body-settings">
                <select class="form-select" v-model="sender.condition">
                  <option disabled value="Условия поставки">
                    {{
                      langCookie == "ru"
                        ? "Условия поставки *"
                        : "Delivery conditions *"
                    }}
                  </option>
                  <option
                    :value="condition.id"
                    v-for="condition in conditions"
                    :key="condition.id"
                  >
                    {{ condition.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-receiver">
              <h3 class="form-headline">
                {{ langCookie == "ru" ? "Грузополучатель" : "Consignee" }}
              </h3>
              <div class="form-receiver__body">
                <div class="form-receiver__body-country">
                  <input
                    v-model="receiver.name"
                    type="text"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Имя и фамилия *'
                        : 'First and last name *'
                    "
                  />
                </div>
                <div class="form-receiver__body-country">
                  <input
                    v-model="receiver.email"
                    type="text"
                    placeholder="E-mail *"
                  />
                </div>
                <div class="form-receiver__body-phone">
                  <div class="form-sender__body-phone-index pr-3">
                    <input
                      v-model="receiverPhoneNumber"
                      type="text"
                      :placeholder="
                        langCookie == 'ru'
                          ? 'Номер телефона *'
                          : 'Phone number *'
                      "
                    />
                  </div>
                  <!-- <vue-phone-number-input
                    color="#FFA300"
                    v-model="receiverPhoneNumber"
                    @update="receiverResults = $event"
                    v-bind="receiverProps"
                  ></vue-phone-number-input> -->
                  <div class="form-sender__body-phone-index">
                    <input
                      v-model="receiver.index"
                      type="text"
                      :placeholder="
                        langCookie == 'ru'
                          ? 'Почтовый индекс *'
                          : 'Postal code *'
                      "
                    />
                  </div>
                </div>

                <div class="form-sender__body-country">
                  <select
                    class="form-select"
                    v-model="receiver.country"
                    @change="getReceiverCitiesList"
                  >
                    <option disabled value="Выберите страну">
                      {{
                        langCookie == "ru"
                          ? "Выберите страну *"
                          : "Select country *"
                      }}
                    </option>
                    <option
                      :value="country.id"
                      v-for="country in countryList.data"
                      :key="country.id"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                <div class="form-sender__body-country">
                  <select
                    class="form-select"
                    v-model="receiver.city"
                    @change="getReceiverRegionsList"
                    :disabled="!receiver.cities.length"
                  >
                    <option disabled value="Выберите город">
                      {{
                        langCookie == "ru"
                          ? "Выберите город *"
                          : "Select city *"
                      }}
                    </option>
                    <option
                      :value="city.id"
                      v-for="city in receiver.cities"
                      :key="city.id"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <select
                    class="form-select"
                    v-model="receiver.region"
                    :disabled="!receiver.regions.length"
                  >
                    <option disabled value="Выберите регион">
                      {{
                        langCookie == "ru"
                          ? "Выберите регион *"
                          : "Select region *"
                      }}
                    </option>
                    <option
                      :value="region.id"
                      v-for="region in receiver.regions"
                      :key="region.id"
                    >
                      {{ region.name }}
                    </option>
                  </select>
                </div>
                <div class="form-sender__body-country">
                  <input
                    v-model="receiver.address"
                    type="text"
                    :placeholder="
                      langCookie == 'ru'
                        ? 'Название улицы, дома и т.д. *'
                        : 'Street name, house, etc. *'
                    "
                  />
                </div>
                <div class="form-receiver__body-methods">
                  <select class="form-select" v-model="receiver.method">
                    <option disabled value="Способ доставки">
                      {{
                        langCookie == "ru"
                          ? "Способ доставки *"
                          : "Delivery methods *"
                      }}
                    </option>
                    <option
                      :value="method.id"
                      v-for="method in methods"
                      :key="method.id"
                    >
                      {{ method.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <AboutSender :changed="changed" @sender="sender"></AboutSender> -->
        <!-- <AboutShipment @shipment="shipment" :error="error"></AboutShipment> -->

        <div class="c-cu-shipment">
          <div class="shipment">
            <h2 class="shipment-headline">
              {{ langCookie == "ru" ? "Данные о посылке" : "Parcel data" }}
            </h2>
            <div class="shipment-head row">
              <!-- <div class="shipment-head__add">
                <input
                  type="radio"
                  name="shipment"
                  id="adding"
                  v-model="productType"
                  value="adding"
                />
                <label for="adding">
                  {{
                    langCookie == "ru"
                      ? "Добавить сведения о продукте"
                      : "Add product details"
                  }}</label
                >
              </div> -->
              <!-- <div class="shipment-head__send">
                <input
                  type="radio"
                  name="shipment"
                  id="sending"
                  v-model="productType"
                  value="sending"
                />
                <label for="sending">
                  {{
                    langCookie == "ru" ? "Отправить файл" : "Send file"
                  }}</label
                >
              </div> -->
            </div>
            <div v-if="productType == 'adding'" class="shipment-body">
              <div class="shipment-body__header">
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Наименование *" : "Product name" }}
                </div>
                <div class="shipment-body__header-item">
                  {{
                    langCookie == "ru" ? "Tип упаковки" : "Type of packaging"
                  }}
                </div>
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Количество *" : "Quantity" }}
                </div>
                <div class="shipment-body__header-item">
                  {{
                    langCookie == "ru" ? "Обший обем(м3)" : "Total volume(m3)"
                  }}
                </div>
                <div class="shipment-body__header-item">
                  {{ langCookie == "ru" ? "Обший весь " : "Total weight(kg)" }}
                </div>
                <div class="shipment-body__header-action"></div>
              </div>
              <div class="shipment-body__body">
                <div
                  v-for="(item, index) in accordions"
                  :key="index"
                  class="shipment-body__body-item"
                >
                  <div class="shipment-body__body-item-input">
                    <input type="text" v-model="item.name" />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <select
                      class="form-select"
                      v-model="item.colli"
                      @change="getColli"
                      :value="colliList?.length ? colliList.data[0].id : ''"
                    >
                      <option
                        :value="colli.id"
                        v-for="colli in colliList.data"
                        :key="colli.id"
                        :selected="colli.id == 1"
                      >
                        {{ colli.name }}
                      </option>
                    </select>
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input type="number" v-model="item.quantity" />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input type="number" v-model="item.full_size" />
                  </div>
                  <div class="shipment-body__body-item-input">
                    <input type="number" v-model="item.full_weight" />
                  </div>
                  <div
                    class="shipment-body__body-item-action"
                    :class="accordionsLength > 1 ? '' : 'disabled'"
                  >
                    <button @click="removeItem(index)">-</button>
                  </div>
                </div>
              </div>
              <div class="shipment-body__footer">
                <div class="shipment-body__footer-item all">
                  {{ langCookie == "ru" ? "Итог" : "Total" }}
                </div>
                <div class="shipment-body__footer-item"></div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.quantity" disabled />
                </div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.full_size" disabled />
                </div>
                <div class="shipment-body__footer-item">
                  <input type="number" v-model="result.full_weight" disabled />
                </div>
                <div class="shipment-body__footer-action">
                  <button @click="addShipment">+</button>
                </div>
              </div>
            </div>
            <div v-else class="sending" :class="isFileUploaded ? 'active' : ''">
              <input
                type="file"
                name=""
                id="input-file"
                @change="fileUploaded"
              />
              <button class="w-100" @click="uploadFile">
                <img
                  v-if="!isFileUploaded"
                  src="../../../../assets/icons/bxs-cloud-upload.svg"
                  alt="upload"
                />
                <img
                  v-else
                  src="../../../../assets/icons/bxs-cloud-uploaded.svg"
                  alt="upload"
                />
                <span>{{ file }}</span>
              </button>
            </div>
            <div class="shipment-footer">
              <div class="shipment-footer__comment">
                <textarea
                  cols="30"
                  rows="4"
                  :placeholder="langCookie == 'ru' ? 'Комментарии' : 'Comments'"
                  v-model="comment"
                ></textarea>
              </div>
              <div class="shipment-footer__warning" v-if="warning">
                <p class="shipment-footer__warning-text">
                  * -
                  {{
                    langCookie == "ru"
                      ? "Поле обязательно к заполнению"
                      : "The field must be filled in"
                  }}
                </p>
              </div>
              <div class="shipment-footer__submit">
                <div class="shipment-footer__submit-accept">
                  <input
                    class="form-check-input border-0"
                    type="checkbox"
                    id="accept"
                    v-model="termsAgreement"
                  />
                  <label for="accept"
                    >{{
                      langCookie == "ru"
                        ? 'Нажимая кнопку "Отправить", вы принимаете условия обработки персональных данных'
                        : 'By clicking the "Submit" button, you accept the processing conditions personal data'
                    }}
                  </label>
                </div>
                <div class="shipment-footer__submit-done">
                  <button
                    :class="termsAgreement ? 'done' : 'notDone'"
                    @click="saveData"
                  >
                    {{ langCookie == "ru" ? "Отправить" : "Send" }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  data() {
    return {
      senderProps: {
        translations: {
          phoneNumberLabel: "93 595 25 25",
        },
      },
      receiverProps: {
        translations: {
          phoneNumberLabel: "93 595 25 25",
        },
      },
      receiverPhoneNumber: null,
      senderPhoneNumber: null,
      senderResults: null,
      receiverResults: null,
      owner: "sender",
      addressOwner: "sender",
      sender: {
        name: "",
        email: "",
        index: "",
        address: "",
        country: "Выберите страну",
        countries: [],
        city: "Выберите город",
        cities: [],
        region: "Выберите регион",
        regions: [],
        condition: "Условия поставки",
      },
      receiver: {
        name: "",
        email: "",
        index: "",
        address: "",
        country: "Выберите страну",
        countries: [],
        city: "Выберите город",
        cities: [],
        settings: "Условия поставки",
        region: "Выберите регион",
        regions: [],
        method: "Способ доставки",
      },
      addressesList: undefined,
      addressIndex: "Выберите адрес",
      conditions: [],
      methods: [],
      product: {},
      comment: undefined,
      changed: true,
      applicationSenderForm: {},
      applicationShipmentForm: {},
      error: false,
      warning: false,
      productType: "adding",
      file: "No file chosen",
      isFileUploaded: false,
      accordions: [
        {
          name: "",
          colli: 1,
          quantity: 0,
          full_size: 0,
          full_weight: 0,
        },
      ],
      comment: "",
      termsAgreement: false,
      selectedFile: null,
    };
  },

  watch: {
    countryList() {
      this.setCountryList();
    },
    senderCitiesList() {
      this.setSenderCitiesList();
    },
    senderRegionsList() {
      this.setSenderRegionsList();
    },
    conditionList() {
      this.setConditionList();
    },
    receiverCitiesList() {
      this.setReceiverCitiesList();
    },
    receiverRegionsList() {
      this.setReceiverRegionsList();
    },
    methodList() {
      this.setMethodList();
    },
  },
  computed: {
    countryList() {
      return this.$store.getters["application/getCountryList"];
    },
    senderCitiesList() {
      return this.$store.getters["application/getSenderCitiesList"];
    },
    senderRegionsList() {
      return this.$store.getters["application/getSenderRegionsList"];
    },
    conditionList() {
      return this.$store.getters["application/getConditionList"];
    },
    receiverCitiesList() {
      return this.$store.getters["application/getReceiverCitiesList"];
    },
    receiverRegionsList() {
      return this.$store.getters["application/getReceiverRegionsList"];
    },
    methodList() {
      return this.$store.getters["application/getMethodList"];
    },

    accordionsLength() {
      return this.accordions.length;
    },

    colliList() {
      return this.$store.getters["application/getColliList"];
    },

    result() {
      let a = {};
      a.quantity = 0;
      a.full_size = 0;
      a.full_weight = 0;

      this.accordions.forEach((elem) => {
        a.quantity += Number(elem.quantity);
        a.full_size += Number(elem.full_size);
        a.full_weight += Number(elem.full_weight);
      });

      return a;
    },
    langCookie() {
      return Cookie.get("lang");
    },

    changedData() {
      return this.$store.getters["application/getChangingApplication"];
    },
  },

  methods: {
    saveData() {
      if (
        this.sender.name == "" ||
        this.sender.address == "" ||
        this.sender.email == "" ||
        this.senderPhoneNumber.length < 4 ||
        this.sender.index.length < 6 ||
        typeof this.sender.condition == "string" ||
        typeof this.sender.region == "string" ||
        typeof this.sender.city == "string" ||
        typeof this.sender.country == "string" ||
        this.receiver.name == "" ||
        this.receiver.address == "" ||
        this.receiver.email == "" ||
        this.receiverPhoneNumber.length < 4 ||
        this.receiver.index.length < 6 ||
        typeof this.receiver.method == "string" ||
        typeof this.receiver.region == "string" ||
        typeof this.receiver.city == "string" ||
        typeof this.receiver.country == "string" ||
        this.comment == ""
      ) {
        this.warning = true;
      } else {
        let a = {};
        a._method = "put";
        if (this.owner == "sender") {
          a.who_is = 1;
        } else if (this.owner == "receiver") {
          a.who_is = 2;
        }

        if (this.productType == "adding") {
          a.product_detail = 1;
        } else {
          a.product_detail = 2;
        }

        a.full_name = this.sender.name;
        a.full_name_from = this.receiver.name;
        a.email = this.sender.email;
        a.email_from = this.receiver.email;
        a.phone = this.senderPhoneNumber;
        a.phone_from = this.receiverPhoneNumber;
        a.region_id = this.sender.region;
        a.region_from_id = this.receiver.region;
        a.address = this.sender.address;
        a.address_from = this.receiver.address;
        a.mail_index = this.sender.index;
        a.mail_from_index = this.receiver.index;
        a.condition_id = this.sender.condition;
        a.delivery_id = this.receiver.method;
        a.comment = this.comment;

        if (this.productType == "adding") {
          let allBooleans = [];
          this.accordions.forEach((elem) => {
            if (elem.name !== "" && elem.quantity !== 0) {
              allBooleans.push(true);
            } else {
              allBooleans.push(false);
            }
          });

          let isBoolean = allBooleans.every((element) => element === true);

          if (isBoolean) {
            a.product = [];

            this.accordions.forEach((elem) => {
              a.product.push({
                name: elem.name,
                packing_id: elem.colli,
                quantity: +elem.quantity,
                full_size: elem.full_size,
                total_weight: elem.full_weight,
              });
            });

            let payload = a;
            try {
              const token = Cookie.get("token");
              const lang = Cookie.get("lang");
              const headers = {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              };
              if (token) {
                // let path = this.$route.path.substring(0, this.$route.path.length-6)
                this.$axios
                  .post(
                    `/user/application/update/${this.changedData.id}`,
                    payload,
                    {
                      headers,
                    }
                  )
                  .then((result) => {
                    alert(result.data.message);
                    this.$router.go(-1);
                  })
                  .catch((err) => {
                    alert(err);
                  });
              } else {
                const lang = Cookie.get("lang");
                this.$axios
                  .post(
                    `/user/application/update/${this.changedData.id}`,
                    payload,
                    {
                      headers: {
                        "Content-Type": "application/json",
                        "X-Localization": lang,
                      },
                    }
                  )
                  .then((result) => {
                    alert(result.data.message);
                    this.$router.go(-1);
                  })
                  .catch((err) => {
                    alert(err);
                  });
              }
            } catch (error) {
              console.log(error);
            }
          } else {
            this.warning = true;
          }
        } else {
          const formData = new FormData();
          if (this.owner == "sender") {
            formData.append("who_is", 1);
          } else if (this.owner == "receiver") {
            formData.append("who_is", 2);
          }
          if (this.productType == "adding") {
            formData.append("product_detail", 1);
          } else {
            formData.append("product_detail", 2);
          }
          formData.append("_method", "put");
          formData.append("products_detail_file", this.selectedFile);
          formData.append("full_name", this.sender.name);
          formData.append("full_name_from", this.receiver.name);
          formData.append("email", this.sender.email);
          formData.append("email_from", this.receiver.email);
          formData.append("phone", this.senderPhoneNumber);
          formData.append("phone_from", this.receiverPhoneNumber);
          formData.append("region_id", this.sender.region);
          formData.append("region_from_id", this.receiver.region);
          formData.append("address", this.sender.address);
          formData.append("address_from", this.receiver.address);
          formData.append("mail_index", this.sender.index);
          formData.append("mail_from_index", this.receiver.index);
          formData.append("condition_id", this.sender.condition);
          formData.append("delivery_id", this.receiver.method);
          formData.append("comment", this.comment);

          console.log("asd");

          try {
            const token = Cookie.get("token");
            const lang = Cookie.get("lang");
            const headers = {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            };
            if (token) {
              this.$axios
                .post(
                  `/user/application/update/${this.changedData.id}`,
                  formData,
                  {
                    headers,
                  }
                )
                .then((result) => {
                  alert(result.data.message);
                  this.$router.go(-1);
                })
                .catch((err) => {
                  alert(err);
                });
            } else {
              const lang = Cookie.get("lang");
              this.$axios
                .post(`/application`, formData, {
                  headers: {
                    "Content-Type": "application/json",
                    "X-Localization": lang,
                  },
                })
                .then((result) => {
                  alert(result.data.message);
                })
                .catch((err) => {
                  alert(err);
                });
            }
          } catch (error) {
            console.log(error);
          }
        }
      }

      this.warning = false;
    },
    uploadFile() {
      document.getElementById("input-file").click();
    },
    fileUploaded(event) {
      this.selectedFile = event.target.files[0];
      this.file = document.getElementById("input-file").value;
      this.isFileUploaded = true;
    },
    addShipment() {
      this.accordions.push({
        name: "",
        colli: 1,
        quantity: 0,
        full_size: 0,
        full_weight: 0,
      });
    },
    removeItem(ind) {
      this.accordions.splice(ind, 1);
    },
    getColli(id) {
      this.colliId = id;
    },
    getData() {
      this.$store.dispatch("application/getCountryList");
      this.$store.dispatch("application/getConditionList");
      this.$store.dispatch("application/getMethodList");
    },
    setCountryList() {
      this.sender.countries = this.countryList.data;
      this.receiver.countries = this.countryList.data;
    },
    getSenderCitiesList(e) {
      this.$store.dispatch("application/getSenderCitiesList", e.target.value);
    },
    setSenderCitiesList() {
      this.sender.cities = this.senderCitiesList.data;
    },
    getSenderRegionsList(e) {
      this.$store.dispatch("application/getSenderRegionsList", e.target.value);
    },
    setSenderRegionsList() {
      this.sender.regions = this.senderRegionsList.data;
    },
    setConditionList() {
      this.conditions = this.conditionList.data;
    },
    getReceiverCitiesList(e) {
      this.$store.dispatch("application/getReceiverCitiesList", e.target.value);
    },
    setReceiverCitiesList() {
      this.receiver.cities = this.receiverCitiesList.data;
    },
    getReceiverRegionsList(e) {
      this.$store.dispatch(
        "application/getReceiverRegionsList",
        e.target.value
      );
    },
    setReceiverRegionsList() {
      this.receiver.regions = this.receiverRegionsList.data;
    },
    setMethodList() {
      this.methods = this.methodList.data;
    },
    sendData() {
      this.sender(
        this.sender,
        this.receiver,
        this.owner,
        this.senderResults.formattedNumber,
        this.receiverResults.formattedNumber
      );
    },
    getAddressesList() {
      const token = Cookie.get("token");
      if (token) {
        try {
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/user/address/list`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.addressesList = result.data.data;
            })
            .catch((err) => {
              console.log(err);
            });
        } catch (error) {
          console.log(error);
        }
      }
    },

    setChangedData() {
      if (Object.keys(this.changedData).length) {
        if (this.changedData.who_is_this == "1") {
          this.owner = "sender";
        } else {
          this.owner = "receiver";
        }
        this.accordions = [];
        this.changedData.products.forEach((element) => {
          this.accordions.push({
            name: element.name,
            colli: element.packing_id,
            quantity: element.quantity,
            full_size: element.full_size,
            full_weight: element.total_weight,
          });
        });

        this.comment = this.sender.name = this.changedData.full_name;
        this.sender.email = this.changedData.email;
        this.sender.index = this.changedData.mail_index;
        this.sender.address = this.changedData.adress;
        this.senderPhoneNumber = this.changedData.phone;
        this.sender.address = this.changedData.address;

        this.countryList?.data?.forEach((elem) => {
          if (elem.name == this.changedData.country_name) {
            this.sender.country = elem.id;
          }
        });

        this.conditionList.data.forEach((elem) => {
          if (elem.id == this.changedData.supply_id) {
            this.sender.condition = elem.id;
          }
        });

        this.methodList.data.forEach((elem) => {
          if (elem.id == this.changedData.delivery_id) {
            this.receiver.method = elem.id;
          }
        });

        this.$store.dispatch(
          "application/getSenderCitiesList",
          this.sender.country
        );

        setTimeout(() => {
          if (this.senderCitiesList.data.length) {
            this.senderCitiesList.data.forEach((elem) => {
              if (elem.name == this.changedData.city_name) {
                this.sender.city = elem.id;
              }
            });
          }
        }, 1000);

        setTimeout(() => {
          this.$store.dispatch(
            "application/getSenderRegionsList",
            this.sender.city
          );
        }, 1100);

        setTimeout(() => {
          if (this.senderRegionsList.data.length) {
            this.senderRegionsList.data.forEach((elem) => {
              if (elem.name == this.changedData.region_name) {
                this.sender.region = elem.id;
              }
            });
          }
        }, 2000);

        this.receiver.name = this.changedData.full_name_from;
        this.receiver.email = this.changedData.email_from;
        this.receiver.index = this.changedData.mail_from_index;
        this.receiverPhoneNumber = this.changedData.phone_from;
        this.receiver.address = this.changedData.address_from;

        this.countryList.data.forEach((elem) => {
          if (elem.name == this.changedData.country_name) {
            this.receiver.country = elem.id;
          }
        });

        this.$store.dispatch(
          "application/getReceiverCitiesList",
          this.receiver.country
        );

        setTimeout(() => {
          if (this.receiverCitiesList.data.length) {
            this.receiverCitiesList.data.forEach((elem) => {
              if (elem.name == this.changedData.city_name) {
                this.receiver.city = elem.id;
              }
            });
          }
        }, 1000);

        setTimeout(() => {
          this.$store.dispatch(
            "application/getReceiverRegionsList",
            this.receiver.city
          );
        }, 1100);

        setTimeout(() => {
          if (this.receiverRegionsList.data.length) {
            this.receiverRegionsList.data.forEach((elem) => {
              if (elem.name == this.changedData.region_name) {
                this.receiver.region = elem.id;
              }
            });
          }
        }, 2000);
      } else {
        this.$router.go(-1);
      }
    },
  },

  mounted() {
    this.getData();
    this.setChangedData();
  },
};
</script>

<style lang="scss" scoped>
@import "@/components/user/Layout/FormView/FormView.style.scss";
.p-user-application-create {
  background: white !important;
}
</style>
