<template>
  <div class="p-notifications">
    <div class="notification container-xxl table">
      <div class="notification-body table-body">
        <div class="notification-body__title table-body__title">
          <h1>Notifications</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr
                role="button"
                v-for="(app, index) in notifications"
                :key="app.id ? app.id : index"
                @click="goToNotificationPage(app.link)"
              >
                <td scope="col">{{ app.id }}</td>
                <td scope="col">
                  {{ app.text }}
                </td>
                <td scope="col">
                  {{
                    typeof app.created_at == "string"
                      ? app.created_at.slice(0, 10)
                      : app.created_at
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <VSPagination
        :pageNumber="paginationPage"
        @goPage="goPage"
        :totalItems="totalItems"
        :perPage="perPage"
      ></VSPagination>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import VSPagination from "@/components/user/Custom/VSpagination/VSPagination.vue";
export default {
  components: {
    VSPagination,
  },
  data() {
    return {
      notifications: [],
      paginationPage: 1,
      totalItems: undefined,
      perPage: 20,
    };
  },

  methods: {
    getNotifications(id) {
      const token = Cookie.get("token");
      const lang = Cookie.get("lang");

      try {
        this.$axios
          .get(`/notification/list?page=${id}`, {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then((result) => {
            this.notifications = result.data.data.data;
            this.totalItems = result.data.data.total;
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }
    },

    goPage(i) {
      this.getNotifications(i);
    },
    goToNotificationPage(link) {
      if (link) {
        this.$router.push(link);
      }
    },
  },
  mounted() {
    this.getNotifications(this.paginationPage);
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/table.scss";
@import "./notifications.style.scss";
</style>
