<template>
  <div class="p-user-directory-slug">
    <h2>{{ accordionList.name }}</h2>
    <div class="accordion" id="accordionDirectory">
      <div
        class="accordion-item my-3"
        v-for="(accor, index) in accordionList.directory"
        :key="accor.id"
      >
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="`#collapse${index}`"
            :aria-controls="`collapse${index}`"
          >
            {{ accor.title }}
          </button>
        </h2>
        <div
          :id="`collapse${index}`"
          class="accordion-collapse collapse"
          :class="index == 0 ? 'show' : ''"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionDirectory"
        >
          <div class="accordion-body" v-html="accor.description"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      accordionList: [],
    };
  },
  watch: {
    directoryList() {
      this.accordionSet();
    },
  },

  computed: {
    ...mapGetters({
      directoryList: "user/getLogisDirectory",
    }),
  },

  methods: {
    accordionSet() {
      if (this.directoryList.data) {
        this.directoryList.data.forEach((element) => {
          if (element.id == this.$route.params.slug) {
            this.accordionList = element;
          }
        });
      }
    },
  },
  mounted() {
    this.$store.dispatch("user/getLogisDirectory");
  },
};
</script>

<style lang="scss" scoped>
.p-user-directory-slug {
  margin: 4rem 36px;

  .accordion-item {
    border: none;
    button {
      margin: 2rem 0;
      border: none;
      background: #ffffff;
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
        5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 10px;
    }
  }
}
</style>
