<template>
  <div class="p-about" style="background-color: #f5f5f5">
    <div class="about-header">
      <div class="bg"></div>
      <HeaderView
        :title="title"
        :path="path"
        :bg-href="background"
        :link="link"
      ></HeaderView>
    </div>

    <NewsView :data="blogPageData?.data?.data"></NewsView>
    <VSPagination
      :pageNumber="paginationPage"
      @goPage="goPage"
      :totalItems="blogPageData?.data?.total"
      :perPage="perPage"
    ></VSPagination>

    <FooterView></FooterView>
  </div>
</template>

<script>
import HeaderView from "@/components/user/Layout/HeaderView/HeaderView.vue";
import FooterView from "@/components/user/Common/FooterView/FooterView.vue";
import NewsView from "@/components/user/Layout/NewsView/NewsView.vue";
import VSPagination from "@/components/user/Custom/VSpagination/VSPagination.vue";
import Cookie from "js-cookie";
export default {
  components: {
    HeaderView,
    FooterView,
    NewsView,
    VSPagination,
  },
  data() {
    return {
      background: "about-bg",
      link: "/blog",
      paginationPage: 1,
      perPage: 8,
    };
  },
  computed: {
    blogPageData() {
      return this.$store.getters["blogPage/getBlogPageData"];
    },
    path() {
      if (this.langCookie == "ru") {
        return "БЛОГ";
      } else {
        return "BLOG";
      }
    },
    title() {
      if (this.langCookie == "ru") {
        return "Блог";
      } else {
        return "Blog";
      }
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },
  methods: {
    getData(id) {
      this.$store.dispatch("blogPage/getBlogPageData", id);
    },
    goPage(i) {
      this.getData(i);
    },
  },

  mounted() {
    this.getData(this.paginationPage);
  },
};
</script>

<style lang="scss">
@import "~/assets/styles/index.scss";
</style>
