.p-user-application-self {
  h1 {
    margin: 2rem;
  }
  .row {
    margin: 2rem 36px;

    .save-btn {
      background: #1e4382;
      color: white;
      border-radius: 5px;
      border: none;
      padding: 0.4rem 1rem;
    }

    .col-data {
      padding: 3rem 2rem;
      background: #fefefe;
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
        5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 10px;

      h2.sender {
        font-weight: 600;
        font-size: 25px;
        line-height: 115%;
        color: #ffc258;
      }

      h2.cons {
        font-weight: 600;
        font-size: 25px;
        line-height: 115%;
        color: #1e4382;
      }

      table {
        margin-top: 2rem;
        td:first-child {
          color: rgba(0, 0, 0, 0.6);
          font-weight: 700;
          font-size: 18px;
          line-height: 250%;
          width: 50%;
        }

        td:last-child {
          font-weight: 500;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .product-table {
      padding: 2rem;
      background: #fefefe;
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
        5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 10px;

      &__header,
      &__body {
        display: flex;
        width: 100%;

        &-id {
          width: 5%;
        }

        &-name {
          width: 25%;
        }

        &-code {
          width: 20%;
          padding-right: 1rem;

          input {
            width: 100%;
          }
        }

        &-quantity {
          width: 15%;
        }

        &-volume {
          width: 20%;
        }

        &-weight {
          width: 15%;
        }
      }

      &__header {
        padding: 1rem 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 150%;
        color: #000000;
      }

      &__body {
        padding: 1rem 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 115%;
        color: rgba(0, 0, 0, 0.5);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .row1 {
        margin: 1rem 0;
        display: flex;

        .data {
          flex: 1;
        }
      }

      .transit-data {
        &__item {
          margin: 1rem 0;
          display: flex;
          width: 100%;

          input {
            width: 100%;
            margin-right: 1rem;
            background: #f5f5f5;
            border: none;
            box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
              5px -5px 10px rgba(230, 230, 230, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.9),
              5px 5px 13px rgba(230, 230, 230, 0.9),
              inset 1px 1px 2px rgba(255, 255, 255, 0.3),
              inset -1px -1px 2px rgba(230, 230, 230, 0.5);
            border-radius: 10px;
            padding: 0.5rem 0.8rem;

            &:focus {
              outline: 1px solid rgba(236, 155, 0, 0.5);
            }
          }
          button {
            width: 3.2rem;
            background: #ffc258;
            color: white;
            border-radius: 5px;
            border: none;
            font-size: 2rem;
            line-height: 1rem;
            padding: 1rem 1.2rem;
          }
        }
      }

      .add-transit {
        display: flex;
        justify-content: flex-end;
        button {
          width: 3.2rem;
          background: #1e4382;
          color: white;
          border-radius: 5px;
          border: none;
          font-size: 2rem;
          line-height: 1rem;
          padding: 1rem;
        }
      }

      .cost-price,
      .tnved,
      .cost-data {
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;
        input {
          margin-right: 1rem;
          background: #f5f5f5;
          border: none;
          box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
            5px -5px 10px rgba(230, 230, 230, 0.2),
            -5px -5px 10px rgba(255, 255, 255, 0.9),
            5px 5px 13px rgba(230, 230, 230, 0.9),
            inset 1px 1px 2px rgba(255, 255, 255, 0.3),
            inset -1px -1px 2px rgba(230, 230, 230, 0.5);
          border-radius: 10px;
          padding: 0.5rem 0.8rem;

          &:focus {
            outline: 1px solid rgba(236, 155, 0, 0.5);
          }
        }
      }

      .tnved {
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        input {
          margin-right: 1rem;
          background: #f5f5f5;
          border: none;
          box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
          5px -5px 10px rgba(230, 230, 230, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9),
          5px 5px 13px rgba(230, 230, 230, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3),
          inset -1px -1px 2px rgba(230, 230, 230, 0.5);
          border-radius: 10px;
          padding: 0.5rem 0.8rem;

          &:focus {
            outline: 1px solid rgba(236, 155, 0, 0.5);
          }
        }
      }

      .cost-comment {
        textarea {
          width: 100%;
          width: 100%;
          margin-right: 1rem;
          background: #f5f5f5;
          border: none;
          box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
            5px -5px 10px rgba(230, 230, 230, 0.2),
            -5px -5px 10px rgba(255, 255, 255, 0.9),
            5px 5px 13px rgba(230, 230, 230, 0.9),
            inset 1px 1px 2px rgba(255, 255, 255, 0.3),
            inset -1px -1px 2px rgba(230, 230, 230, 0.5);
          border-radius: 10px;
          padding: 0.5rem 0.8rem;

          &:focus {
            outline: 1px solid rgba(236, 155, 0, 0.5);
          }
        }
      }
    }

    .bg-blue {
      background: #6eb1fd;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      button {
        background-color: #1e4382;
        color: white;
        border: none;
        border-radius: 7px;
      }

      .bottom-btns {
        display: flex;
        margin: 1rem 0 0 0;
        button {
          flex: 1;
          &:first-child {
            margin-right: 1rem;
          }

          &:last-child {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    td {
      width: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
