<template>
  <div class="p-user-application-self">
    <button
      class="btn btn-info mt-3"
      style="margin: 2rem"
      @click="$router.push('/logis/my-applications')"
    >
      Go back
    </button>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          ID user: {{ applicationData.user?.id }}
          <br />
          {{ applicationData.user?.name ? "Status:" : "" }}
          <span
            v-if="applicationData.user?.name"
            :style="{ color: applicationData.user?.color }"
            >{{
              applicationData.user?.name
                ? applicationData.user?.name
                : "undefined"
            }}</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="sender">Sender</h2>
          <table>
            <tr>
              <td>Country</td>
              <td>{{ applicationData.application?.country_name }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{ applicationData.application?.city_name }}</td>
            </tr>
            <tr>
              <td>Region</td>
              <td>{{ applicationData.application?.region_name }}</td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td>{{ applicationData.application?.mail_index }}</td>
            </tr>
            <tr>
              <td>Delivery conditions</td>
              <td>{{ applicationData.application?.supply }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="cons">Consignee</h2>
          <table>
            <tr>
              <td>Country</td>
              <td>{{ applicationData.application?.country_from_name }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{ applicationData.application?.city_from_name }}</td>
            </tr>
            <tr>
              <td>Region</td>
              <td>{{ applicationData.application?.region_from_name }}</td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td>{{ applicationData.application?.mail_from_index }}</td>
            </tr>
            <tr>
              <td>Delivery method</td>
              <td>{{ applicationData.application?.delivery }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <div class="product-table__header">
            <div class="product-table__header-id">#</div>
            <div class="product-table__header-name">Name</div>
            <div class="product-table__header-code">TNVED code</div>
            <div class="product-table__header-quantity">Quantity</div>
            <div class="product-table__header-volume">
              Total volume (m <sup>3</sup>)
            </div>
            <div class="product-table__header-weight">Total weight (kg)</div>
          </div>

          <div
            class="product-table__body"
            v-for="(prod, index) in applicationData.application?.products"
            :key="prod.id"
          >
            <div class="product-table__body-id">{{ index + 1 }}</div>
            <div class="product-table__body-name">{{ prod.name }}</div>
            <div class="product-table__body-code tnved">
              <input
                type="number"
                :disabled="isAvailable ? false : true"
                v-model="codes[index].code"
              />
            </div>
            <div class="product-table__body-quantity">{{ prod.quantity }}</div>
            <div class="product-table__body-volume">
              {{ prod.full_size }}
            </div>
            <div class="product-table__body-weight">
              {{ prod.total_weight }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>Comments</h2>

          <p>
            {{ applicationData.application?.comment }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="product-table">
          <h2>Transit</h2>
          <div class="transit-data">
            <div
              class="transit-data__item"
              v-for="(item, index) in transit"
              :key="index"
            >
              <input
                type="text"
                :disabled="isAvailable ? false : true"
                v-model="item.value"
              />
              <button
                :disabled="isAvailable ? false : true"
                class="transit-data__item-btn"
                @click="removeTransit(index)"
              >
                -
              </button>
            </div>
          </div>

          <div class="add-transit">
            <button
              :disabled="isAvailable ? false : true"
              class="add-transit__btn"
              @click="addTransit"
            >
              +
            </button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="product-table">
          <h2>Cost</h2>

          <div class="cost-price">
            <label for="price">Price: </label>
            <input
              type="number"
              :disabled="isAvailable ? false : true"
              v-model="price"
            />
          </div>

          <div class="cost-data">
            <label for="date">Time of delivery: </label>
            <input
              type="date"
              v-model="date"
              :disabled="isAvailable ? false : true"
            />
          </div>

          <div class="cost-comment">
            <main v-if="isAvailable" id="sample">
              <Editor
                api-key="no-api-key"
                v-model="content"
                :init="{
                  plugins: 'table',
                }"
              />
            </main>
            <div v-else class="cost-comment__result">
              Note:
              <div v-html="content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="isAvailable">
      <div class="col-12 d-flex justify-content-end">
        <button class="save-btn" @click="save">Send to User</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>Files</h2>
          <div
            v-if="productFiles ? productFiles.length : true"
            class="table-responsive"
          >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in productFiles" :key="data.id">
                  <th scope="row">
                    <img
                      width="45"
                      height="35"
                      src="@/assets/images/user/user-directory.png"
                      alt=""
                    />
                  </th>
                  <td>{{ data.nameNew.name }}</td>
                  <td>
                    <button
                      class="btn btn-primary"
                      @click="downloadFile(data.urlNew)"
                    >
                      Download
                    </button>
                    <button class="btn btn-danger" @click="deleteFile(data.id)">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 v-else>No files</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Cookie from "js-cookie";
export default {
  data() {
    return {
      transit: [],
      price: undefined,
      date: undefined,
      codes: [],
      content: undefined,
    };
  },
  watch: {
    applicationData() {
      this.check();
    },
  },
  computed: {
    ...mapGetters({
      applicationData: "user/getLogisById",
    }),

    isAvailable() {
      if (
        this.applicationData.application?.status_id == 7 ||
        this.applicationData.application?.status_id == 8
      ) {
        return true;
      } else {
        return false;
      }
    },
    productFiles() {
      let a = this.applicationData.application?.application_document;
      if (this.applicationData) {
        if (this.applicationData?.application?.application_document) {
          this.applicationData?.application?.application_document.forEach(
            (element) => {
              element.nameNew = JSON.parse(element.name);
              element.urlNew =
                process.env.baseUrl + "/" + element.nameNew.file_path;
            }
          );
        }
      }
      return a;
    },
  },

  methods: {
    check() {
      this.applicationData.application?.products.forEach((element, index) => {
        this.codes[index] = {
          id: element.id,
          code: "",
        };
      });
    },
    save() {
      let isTrue = true;
      this.codes.forEach((element) => {
        if (element.code) {
          if (isTrue) {
            isTrue = true;
          } else {
            isTrue = false;
          }
        } else {
          isTrue = false;
        }
      });
      if (isTrue) {
        if (this.price) {
          if (this.date) {
            if (this.transit.length) {
              let isTrue2 = true;
              this.transit.forEach((element) => {
                if (element.value) {
                  if (isTrue2) {
                    isTrue2 = true;
                  } else {
                    isTrue2 = false;
                  }
                } else {
                  isTrue2 = false;
                }
              });

              if (isTrue2) {
                let result = {};
                result._method = "put";
                result.price = this.price;
                result.delivery_time = this.date;
                result.other_price_doc = this.content;
                result.supply_id = this.applicationData.application?.supply_id;
                result.delivery_id =
                  this.applicationData.application?.delivery_id;
                result.products = {};
                result.transits = {};

                this.codes.forEach((element, index) => {
                  result.products[index + 1] = {
                    code: undefined,
                    id: undefined,
                  };
                  result.products[index + 1].code = String(element.code);
                  result.products[index + 1].id = element.id;
                });

                this.transit.forEach((element, index) => {
                  if (element.id) {
                    result.transits[element.id] = {
                      text: undefined,
                    };
                    result.transits[element.id].text = element.value;
                  } else {
                    result.transits[index + 1] = {
                      text: undefined,
                    };
                    result.transits[index + 1].text = element.value;
                  }
                });

                const token = Cookie.get("token");
                const lang = Cookie.get("lang");
                try {
                  this.$axios
                    .post(`/logis/store/${this.$route.params.slug}`, result, {
                      headers: {
                        "Content-Type": "application/json",
                        "X-Localization": lang,
                        Authorization: `Bearer ${token}`,
                      },
                    })
                    .then((result) => {
                      if (result.status == 200) {
                        alert("Successfully sended to user !!!");
                        this.$router.go(-1);
                      }
                    })
                    .catch((err) => {
                      alert(err);
                    });
                } catch (error) {
                  console.log(error);
                }
              } else {
                alert("Please fill transit !!!");
              }
            } else {
              alert("Please fill transit !!!");
            }
          } else {
            alert("Please fill date !!!");
          }
        } else {
          alert("Please fill price !!!");
        }
      } else {
        alert("Please fill TNVED codes !!!");
      }
    },
    addTransit() {
      this.transit.push({
        value: "",
      });
    },
    removeTransit(ind) {
      this.transit.splice(ind, 1);
    },

    deleteFile(id) {
      try {
        const lang = Cookie.get("lang");
        const token = Cookie.get("token");
        this.$axios
          .delete(
            `/logis/file/${this.applicationData?.application?.id}/${id}`,
            {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            }
          )
          .then((result) => {
            if (result.status == 200) {
              alert("File successfully deleted");
              window.location.reload();
            }
          })
          .catch((err) => {
            alert(err);
          });
      } catch (error) {
        console.log(error);
      }
    },
    downloadFile(url) {
      window.open(url, "_blank").focus();
    },

    setData() {
      if (this.applicationData.application?.status_id == 8) {
        this.price = this.applicationData.application?.price;
        this.date = this.applicationData.application?.delivery_time;
        this.applicationData.application?.application_transit.forEach(
          (element) => {
            this.transit.push({ value: element.text, id: element.id });
          }
        );

        this.applicationData.application?.products.forEach((element, index) => {
          this.codes[index].code = element.code;
        });
        this.content = this.applicationData.application?.other_price_doc;
      } else {
        this.price = this.applicationData.application?.price;
        this.date = this.applicationData.application?.delivery_time;
        this.applicationData.application?.application_transit.forEach(
          (element) => {
            this.transit.push({ value: element.text, id: element.id });
          }
        );

        this.applicationData.application?.products.forEach((element, index) => {
          this.codes[index].code = element.code;
        });
        this.content = this.applicationData.application?.other_price_doc;
      }
    },
  },

  mounted() {
    this.$store.dispatch("user/getLogisById", this.$route.params.slug);
    if (localStorage.getItem("reloaded")) {
      localStorage.removeItem("reloaded");
    } else {
      localStorage.setItem("reloaded", "1");
      location.reload();
    }

    setTimeout(() => {
      this.setData();
    }, 1000);
  },
};
</script>

<style lang="scss" scoped>
@import "./applicationView.style.scss";
</style>
