<template>
  <div class="c-l-cards">
    <div class="container-xxl">
      <div class="row">
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-12 card-wrapper"
          v-for="card in newData"
          :key="card.id"
        >
          <div class="card my-3 card-wrapper__item">
            <img :src="card.image_new" class="card-img-top" alt="" />
            <div class="card-body card-wrapper__item-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text" v-html="card.full_text"></p>
              <a
                class="btn btn-primary"
                @click="
                  $router.push({
                    path: `/offers/${card.id}`,
                    params: { id: card.id },
                  })
                "
              >
                {{ langCookie == "ru" ? "Подробнее" : "Details" }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  props: {
    data: {
      type: Array,
    },
  },
  computed: {
    newData() {
      let a = [];
      a = this.data;
      if (a) {
        a.forEach((elem) => {
          elem.image_new =
            process.env.baseUrl + "/" + JSON.parse(elem.image_icon).file_path;
        });
        return a;
      } else {
        this.data;
      }
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./OffersCard.style.scss";
</style>
