.c-l-cards {
  padding: 4rem 0;
  z-index: 1;
  position: relative;

  .card-wrapper {
    display: flex;

    &__item {
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .card {
    background: #ffffff;
    border-radius: 20px;
    border: none;
    overflow: hidden;

    p {
      margin-bottom: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    a {
      width: 100%;
      background: #ffc258;
      border-radius: 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      border: none;
      color: #000000;
      padding: 1rem 0;
    }
  }
}
