<template>
  <div class="p-a-dashboard">
    <logis-sidebar @hide-sidebar="hideSidebar"></logis-sidebar>
    <div :class="hiddenSideBar ? 'small-dashboard' : 'dashboard'">
      <user-header></user-header>
      <div
        v-if="isDashboardFilterVisible"
        class="dashboard-filter container-xxl"
      >
        <input
          type="text"
          v-model="orderId"
          class="form-control"
          placeholder="Order ID"
        />

        <p>From:</p>

        <input
          type="date"
          v-model="date_from"
          class="form-control"
          placeholder="Date"
        />

        <p>To:</p>
        <input
          type="date"
          v-model="date_to"
          class="form-control"
          placeholder="Date"
        />
        <select
          v-model="status"
          class="form-select"
          aria-label="Default select example"
        >
          <option disabled value="Applications status">
            Applications status
          </option>
          <option :value="stat.id" v-for="stat in statuses.data" :key="stat.id">
            {{ stat.name }}
          </option>
        </select>
        <button
          type="submit"
          class="btn btn-primary"
          @click="applicationStatus"
        >
          Search
        </button>
        <button type="submit" class="btn btn-primary" @click="clear">
          Clear
        </button>
      </div>
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import UserHeader from "@/components/roleLogis/Layout/UserHeader/UserHeader.vue";
import LogisSidebar from "@/components/roleLogis/Layout/UserSidebar/LogisSidebar.vue";
export default {
  components: { UserHeader, LogisSidebar },
  data() {
    return {
      hiddenSideBar: false,
      statuses: [],
      orderId: "",
      date_from: null,
      date_to: null,
      status: "Applications status",
    };
  },
  computed: {
    isDashboardFilterVisible() {
      if (this.$route.path == "/logis/my-applications") {
        return true;
      } else {
        return false;
      }
    },
  },

  methods: {
    applicationStatus() {
      let credentials = {};

      if (typeof this.status == "number") {
        credentials.status = this.status;
      }

      if (this.date_from) {
        credentials.date_from = this.date_from;
      }
      if (this.date_to) {
        credentials.date_to = this.date_to;
      }
      if (this.orderId) {
        credentials.code = this.orderId;
      }

      console.log(credentials);

      this.$store.dispatch("user/getLogis", credentials);
    },

    clear() {
      this.status = "Applications status";
      this.orderId = "";
      this.date_from = null;
      this.date_to = null;
      this.$store.dispatch("user/getLogis");
    },

    hideSidebar(val) {
      this.hiddenSideBar = val;
    },

    getStatuses() {
      try {
        if (Cookie.get("token")) {
          let token = Cookie.get("token");
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/dictionary/application-status`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.statuses = result.data;
            })
            .catch((err) => {
              console.log(err);
            });
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  middleware({ redirect }) {
    if (
      !(
        Cookie.get("token") &&
        Cookie.get("user") &&
        Cookie.get("role") == "logis"
      )
    ) {
      return redirect("/");
    }
  },
  mounted() {
    this.$store.dispatch("user/getLogisDirectory");
    this.$store.dispatch("application/getColliList");
    this.getStatuses();
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/admin.scss";
</style>
