<template>
  <div class="pdf">
    <!-- <div class="container">
      <button
        type="button"
        id="cmd"
        class="btn btn-primary"
        style="position: absolute; left: 91%"
      >
        Export Pdf
      </button>
    </div> -->
    <!-- <p></p> -->
    <div class="container" id="printableArea">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered">
            <tr>
              <td colspan="12">
                <div class="row">
                  <div class="col-md-2">
                    <!-- <img
                      src="{{ asset('./vendor/1.jpg') }}"
                      class="img-fluid rounded-start"
                      alt="..."
                    /> -->
                  </div>
                  <div class="col-md-6 mt-5">
                    <h4
                      class="card-title"
                      style="color: darkblue; font-size: 18px"
                    >
                      <br />
                      {{
                        activeLang == "en"
                          ? "LLC “DALI LOGISTIC COMPANY”"
                          : "ООО “ЛОГИСТИЧЕСКАЯ КОМПАНИЯ ДАЛИ”"
                      }}
                    </h4>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  <strong
                    ><em>
                      {{
                        activeLang == "en"
                          ? "Thank you for your choice!"
                          : "Спасибо за Ваш выбор!"
                      }}
                    </em></strong
                  >
                </p>
                <p>
                  <strong><em>&nbsp;</em></strong>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  {{
                    activeLang == "en"
                      ? "According to your request, we would like to offer you the following tariffs."
                      : "Согласно Вашему запросу, хотим предложит Вам следующие тарифы."
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p>
                  <strong
                    >{{ activeLang == "en" ? "Route: " : "Маршрут:" }}
                  </strong>
                  <span
                    v-for="(
                      trans, index
                    ) in applicationData.application_transit"
                    :key="trans.id"
                    >{{ trans.text }}
                    {{
                      index == applicationData.application_transit.length - 1
                        ? ""
                        : " - "
                    }}</span
                  >
                </p>
              </td>
              <td colspan="6">
                <p>
                  <strong>
                    {{
                      activeLang == "en"
                        ? "Delivery method: : "
                        : " Способ доставки: :"
                    }}
                  </strong>
                  {{ applicationData.delivery }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <p>
                  <strong>
                    {{
                      activeLang == "ru"
                        ? "Условия поставки: "
                        : "Delivery condition: "
                    }}
                  </strong>
                  {{ applicationData.supply }}
                </p>
              </td>
              <td colspan="6">
                <p>
                  <strong
                    >{{
                      activeLang == "en"
                        ? "Transportation price: "
                        : " Цена транспортировки: @endif:"
                    }} </strong
                  ><b>{{ applicationData.price }} $</b>
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="12">
                <p>
                  <strong>
                    {{
                      activeLang == "en"
                        ? "Delivery period: "
                        : " Срок доставки:"
                    }}</strong
                  >{{ applicationData.delivery_time }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  <strong>
                    {{
                      activeLang == "en"
                        ? "Shipping Details: "
                        : "Детали отправляемого груза:"
                    }}
                  </strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>№</td>
              <td>
                <b>
                  {{ activeLang == "en" ? "Name: " : " Наименование:" }}
                </b>
              </td>
              <td>
                <b>
                  {{ activeLang == "en" ? "TNVED code: " : " Код ТНВЭД:" }}
                </b>
              </td>
              <td>
                <b>
                  {{ activeLang == "en" ? "Type Pack: " : "Тип упаковки:" }}
                </b>
              </td>
              <td>
                <b>
                  {{ activeLang == "en" ? "Quantity: " : " Количество:" }}
                </b>
              </td>
              <td>
                <b>
                  {{
                    activeLang == "en" ? "Total Volume (" : "Итого Объем ("
                  }}m<sup>3</sup>):
                </b>
              </td>
              <td colspan="">
                <b>
                  {{
                    activeLang == "en" ? "Total weight(kg): " : "Итого вес(кг):"
                  }}
                </b>
              </td>
            </tr>
            <tr v-for="(prod, index) in applicationData.products" :key="index">
              <td>
                {{ index + 1 }}
              </td>
              <td>
                {{ prod.name }}
              </td>
              <td>
                {{ prod.code }}
              </td>
              <td>
                <b>
                  {{ prod.packing_id }}
                </b>
              </td>

              <td>
                {{ prod.quantity }}
              </td>

              <td>
                {{ prod.full_size }}
              </td>
              <td>
                {{ prod.total_weight }}
              </td>
            </tr>

            <tr>
              <td colspan="11"></td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  <strong>
                    {{
                      activeLang == "en"
                        ? "The rate includes: "
                        : "Ставка включает:"
                    }}
                  </strong>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "delivery of the vehicle; "
                      : "подача транспортного средства;"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "48 hours for uploading and processing (Excess tariff is charged separately at the rate of 100 USD / day); "
                      : "48 часов на загрузку и оформление (Сверхнормативный простой оплачивается отдельно из расчета 100 USD / сутки);"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;
                  {{
                    activeLang == "en"
                      ? "48 hours for unloading and clearance (Excess downtime is paid separately at the rate of 100 USD / day); "
                      : "48 часов на выгрузку и оформление (Сверхнормативный простой оплачивается отдельно из расчета 100 USD / сутки);"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;
                  {{
                    activeLang == "en"
                      ? "freight cost along the entire route; "
                      : "стоимость фрахта по всему маршруту;"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;
                  {{
                    activeLang == "en"
                      ? "daily monitoring of cargo movement; "
                      : "ежедневный мониторинг движения груза;"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;
                  {{
                    activeLang == "en"
                      ? "forwarder's commission "
                      : "комиссия экспедитора"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>&nbsp;</p>
                <p>
                  <strong
                    >{{
                      activeLang == "en"
                        ? "The rate does not include; "
                        : "Ставка не включает;"
                    }}
                  </strong>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "loading cargo onto/from a vehicle; "
                      : "погрузка груза на/из транспортного средства;"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "the cost of cargo insurance (this service is offered additionally at the request of the Customer); "
                      : "стоимость страхования груза (данная услуга предлагается дополнительно по запросу Заказчика);"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "import, export clearance of cargo;"
                      : "импортное, экспортное оформление груза;"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "payment for storage or simple cargo "
                      : "оплату за хранение или простой груза"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "payment for storage or simple cargo "
                      : "оплату за хранение или простой груза "
                  }}
                </p>
                <p>&nbsp;</p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  <strong
                    >{{
                      activeLang == "en"
                        ? "GENERAL TERMS AND CONDITIONS "
                        : "ОБЩИЕ УСЛОВИЯ"
                    }}
                  </strong>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "The customer must notify in advance about the readiness of the cargo for 5-7 days, to build a schedule for the supply of transport. "
                      : "Заказчик должен предупредить заранее о готовности груза за 5-7 дней, для построения графика подачи транспорта"
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "The customer is responsible for providing the necessary documents for the cargo."
                      : "Заказчик несет ответственность за предоставление необходимых документов на груз."
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "Shipment documents must be provided in advance. "
                      : "Документы на отгрузку должны быть предоставлены заранее."
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "The above rates are not valid for dangerous, oversized and perishable goods, as well as for goods that require special permits from the governments of the exporting, importing or transit country; "
                      : "Вышеуказанные ставки не действительны на опасные, негабаритные и скоропортящийся грузы, а также на грузы, для которых требуется специальные разрешительные документы правительств страны экспортера, импортера или транзитной страны"
                  }}
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="12">
                <p>
                  &nbsp;{{
                    activeLang == "en"
                      ? "Any costs associated with cancellations or changes in the date of shipment, as well as changes in the details / size of the shipment, will be billed additionally."
                      : "Любые расходы, связанные с аннулированием или изменениями даты отгрузки, а также изменением деталей/размера груза, будут выставляться дополнительно."
                  }}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="12">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                  <strong><em>&nbsp;</em></strong>
                </p>
                <p>
                  <strong><em>&nbsp;</em></strong>
                </p>
                <p>
                  <strong><em>&nbsp;</em></strong>
                </p>
                <p>&nbsp;</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      applicationData: "user/getApplicationById",
    }),
    activeLang() {
      return Cookie.get("lang");
    },
  },
  middleware({ store, redirect }) {
    if (!Object.keys(store.getters["user/getApplicationById"]).length) {
      return redirect('/user/applications');
    }
  },
};
</script>

<style></style>
