<template>
  <div class="p-a-dashboard">
    <user-sidebar @hide-sidebar="hideSidebar"></user-sidebar>
    <div :class="hiddenSideBar ? 'small-dashboard' : 'dashboard'">
      <user-header></user-header>
      <div
        v-if="isDashboardFilterVisible"
        class="dashboard-filter container-xxl"
      >
        <input
          type="text"
          v-model="orderId"
          class="form-control"
          :placeholder="langCookie == 'en' ? 'Order ID' : 'ИД'"
        />

        <p>{{ langCookie == "en" ? "From" : "От" }} :</p>

        <input type="date" v-model="date_from" class="form-control" />

        <p>{{ langCookie == "en" ? "To" : "До" }}:</p>
        <input type="date" v-model="date_to" class="form-control" />
        <select
          v-model="status"
          class="form-select"
          aria-label="Default select example"
        >
          <option disabled value="Applications status">
            {{
              langCookie == "en" ? "Applications status" : "Заявление статус"
            }}
          </option>
          <option :value="stat.id" v-for="stat in statuses.data" :key="stat.id">
            {{ stat.name }}
          </option>
        </select>
        <button
          type="submit"
          class="btn btn-primary"
          @click="applicationStatus"
        >
          {{ langCookie == "en" ? "Search" : "Фильтр" }}
        </button>
        <button type="submit" class="btn btn-primary" @click="clear">
          {{ langCookie == "en" ? "Clear" : "Сброс" }}
        </button>
      </div>
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import UserSidebar from "@/components/roleUser/Layout/UserSidebar/UserSidebar.vue";
import UserHeader from "@/components/roleUser/Layout/UserHeader/UserHeader.vue";
import Cookie from "js-cookie";
export default {
  components: { UserSidebar, UserHeader },
  data() {
    return {
      hiddenSideBar: false,
      statuses: [],
      orderId: "",
      date_from: null,
      date_to: null,
      status: "Applications status",
    };
  },
  computed: {
    isDashboardFilterVisible() {
      if (this.$route.path == "/user/applications") {
        return true;
      } else {
        return false;
      }
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },

  methods: {
    applicationStatus() {
      let credentials = {};

      if (typeof this.status == "number") {
        credentials.status = this.status;
      }

      if (this.date_from) {
        credentials.date_from = this.date_from;
      }
      if (this.date_to) {
        credentials.date_to = this.date_to;
      }
      if (this.orderId) {
        credentials.code = this.orderId;
      }

      this.$store.dispatch("user/getApplication", credentials, 1);
    },

    clear() {
      this.status = "Applications status";
      this.orderId = "";
      this.date_from = null;
      this.date_to = null;
      this.$store.dispatch("user/getApplication", 1);
    },

    hideSidebar(val) {
      this.hiddenSideBar = val;
    },

    getStatuses() {
      try {
        if (Cookie.get("token")) {
          const token = Cookie.get("token");
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/dictionary/application-status`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.statuses = result.data;
            })
            .catch((err) => {
              console.log(err);
            });
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  middleware({ redirect }) {
    if (
      !(
        Cookie.get("token") &&
        Cookie.get("user") &&
        Cookie.get("role") == "user"
      )
    ) {
      return redirect("/");
    }
  },
  mounted() {
    this.$store.dispatch("user/getDirectory");
    this.$store.dispatch("application/getColliList");
    this.getStatuses();
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/admin.scss";
</style>
