<template>
  <div class="c-l-target">
    <div class="target">
      <div class="container-xxl">
        <div class="target-text">
          <h1>
            {{ langCookie == "ru" ? "ЦЕЛИ И МИССИЯ" : "GOALS AND MISSION" }}
          </h1>
          <p class="col-md-8 col-sm-12 col-12">
            {{
              langCookie == "ru"
                ? `Наша цель – предоставить оптимальные логистические решения путем
            разработки и реализации правильного маршрута перевозки для
            участников внешнеэкономической деятельности. А также, мы работаем
            над постоянным улучшением качества услуг, полностью соответствующих
            международным стандартам и соблюдением всех договоренностей,
            заключенных с клиентами.`
                : `Our goal is to provide optimal logistics solutions by
            development and implementation of the correct transportation route for
            participants in foreign economic activity. And also, we are working
            over the continuous improvement of the quality of services that fully comply with
            international standards and compliance with all agreements
concluded with customers.`
            }}
          </p>
        </div>
      </div>
      <div class="target-footer">
        <div class="container-xxl">
          <img :src="imgHref" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  props: {
    data: {
      type: Object,
    },
  },

  computed: {
    imgHref() {
      return process.env.baseUrl + this.data.image;
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./OurTarget.style.scss";
</style>
