<template>
  <div class="p-user-settings">
    <h1>{{ langCookie == "en" ? "Settings" : "Настройки" }}</h1>

    <div class="tab">
      <div class="tab-menu">
        <ul class="tab-menu__list">
          <li
            class="tab-menu__list-item"
            :class="activeMenu == item.id ? 'active' : ''"
            v-for="item in menuList"
            :key="item.id"
            @click="selectMenu(item.id)"
          >
            {{ langCookie == "en" ? item.name : item.name_ru }}
          </li>
        </ul>
      </div>
      <div class="tab-panel">
        <div v-if="activeMenu == 1" class="personal-details">
          <div class="personal-details__name">
            <input
              type="text"
              v-model="name"
              :placeholder="
                langCookie == 'ru' ? 'Имя и фамилия *' : 'First and last name *'
              "
            />
          </div>
          <div class="personal-details__phone">
            <input
              type="text"
              v-model="phone"
              :placeholder="
                langCookie == 'ru' ? 'Номер телефона *' : 'Phone Number *'
              "
            />
          </div>
          <div class="personal-details__email">
            <input
              type="text"
              :value="data.email"
              disabled
              placeholder="Email"
            />
          </div>

          <p v-if="warning" class="text-danger px-3">{{ warningText }}</p>

          <div class="personal-details__footer d-flex justify-content-end">
            <button class="btn btn-primary btn-lg" @click="updateDetails">
              {{ langCookie == "en" ? "Save" : "Сохранить" }}
            </button>
          </div>
        </div>
        <div v-else-if="activeMenu == 2" class="personal-passwords">
          <div class="personal-passwords__input">
            <input
              type="text"
              v-model="oldPassword"
              :placeholder="
                langCookie == 'ru' ? 'Старый пароль *' : 'Old password *'
              "
            />
          </div>
          <div class="personal-passwords__input">
            <input
              type="text"
              v-model="newPassword"
              :placeholder="
                langCookie == 'ru' ? 'Новый пароль *' : 'New password *'
              "
            />
          </div>
          <div class="personal-passwords__input">
            <input
              type="text"
              v-model="reNewPassword"
              :placeholder="
                langCookie == 'ru'
                  ? 'Подтвердите пароль *'
                  : 'Confirm password *'
              "
            />
          </div>

          <p v-if="warningPassword" class="text-danger px-3">
            {{ warningTextPassword }}
          </p>

          <div
            class="shipment-footer__warning text-danger"
            v-if="fieldsWarning"
          >
            <p class="shipment-footer__warning-text">
              * -
              {{
                langCookie == "ru"
                  ? "Поле обязательно к заполнению"
                  : "The field must be filled in"
              }}
            </p>
          </div>

          <div class="personal-passwords__footer d-flex justify-content-end">
            <button class="btn btn-primary btn-lg" @click="updatePassword">
              Save
            </button>
          </div>
        </div>

        <div v-else class="personal-image">
          <button class="btn btn-primary personal-image__upload" @click="onUpload">
            {{
              langCookie == "en" ? "To upload a photo" : "Загрузить изображение"
            }}
          </button>
          <input
            id="image-file"
            style="display: none"
            type="file"
            @change="onFileSelected"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";

export default {
  data() {
    return {
      menuList: [
        {
          id: 1,
          name: "Change personal details",
          name_ru: "Измените личные данные",
        },
        {
          id: 2,
          name: "Change password",
          name_ru: "Измените пароль",
        },
        {
          id: 3,
          name: "Change image",
          name_ru: "Изменить изображение",
        },
      ],
      activeMenu: 1,
      name: "",
      phone: null,
      senderResults: null,
      oldPassword: null,
      newPassword: null,
      reNewPassword: null,
      data: {},
      warning: false,
      warningText: "nothing",
      warningPassword: false,
      fieldsWarning: false,
      warningTextPassword: "nothing",
      selectedFile: null,
    };
  },
  methods: {
    async getSettings() {
      let token = Cookie.get("token");
      const lang = Cookie.get("lang");
      try {
        await this.$axios
          .get("/user/settings/index", {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then((result) => {
            this.data = result.data.data;
            this.name = this.data.full_name;
            this.phone = this.data.phone;
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }
    },
    selectMenu(id) {
      this.activeMenu = id;
    },
    updatePassword() {
      if (this.oldPassword && this.newPassword) {
        this.fieldsWarning = false;
        if (this.oldPassword.length < 5 || this.oldPassword.trim() < 5) {
          this.warningPassword = true;

          if (this.langCookie == "en") {
            this.warningTextPassword =
              "Old password must be at least 6 letters!";
          } else {
            this.warningTextPassword =
              "Старый пароль должен состоять не менее чем из 6 букв.!";
          }
        } else {
          this.warningPassword = false;

          if (this.newPassword.length < 5 || this.newPassword.trim() < 5) {
            this.warningPassword = true;

            if (this.langCookie == "en") {
              this.warningTextPassword =
                "New password must be at least 6 letters!";
            } else {
              this.warningTextPassword =
                "Новый пароль должен состоять не менее чем из 6 букв!";
            }
          } else {
            this.warningPassword = false;

            if (this.newPassword !== this.reNewPassword) {
              this.warningPassword = true;
              if (this.langCookie == "en") {
                this.warningTextPassword = "Confirm password!";
              } else {
                this.warningTextPassword = "Подтвердите пароль!";
              }
            } else {
              this.warningPassword = false;

              if (!this.warningPassword) {
                try {
                  const token = Cookie.get("token");
                  const lang = Cookie.get("lang");
                  const headers = {
                    "Content-Type": "application/json",
                    "X-Localization": lang,
                    Authorization: `Bearer ${token}`,
                  };
                  const article = {
                    password: this.oldPassword,
                    new_password: this.newPassword,
                  };
                  this.$axios
                    .post("/user/settings/change-password", article, {
                      headers,
                    })
                    .then(() => {
                      alert("Updated successfully !!!");
                      window.location.reload();
                    })
                    .catch((err) => {
                      this.warningPassword = true;
                      this.warningTextPassword = err;
                    });
                } catch (error) {
                  console.log(error);
                }
              }
            }
          }
        }
      } else {
        this.fieldsWarning = true;
      }
    },
    updateDetails() {
      if (this.name == "" || this.name.trim() == "") {
        this.warning = true;
        this.warningText = "Enter your name!";
      } else {
        this.warning = false;
      }

      if (!this.phone) {
        this.warning = true;
        this.warningText = "Enter your phone number!";
      } else {
        this.warning = false;
      }

      if (!this.warning) {
        try {
          const token = Cookie.get("token");
          const lang = Cookie.get("lang");
          const headers = {
            "Content-Type": "application/json",
            "X-Localization": lang,
            Authorization: `Bearer ${token}`,
          };
          const article = {
            full_name: this.name,
            phone: this.phone,
          };
          this.$axios
            .post("/user/settings/update", article, { headers })
            .then(() => {
              alert("Updated successfully !!!");
              window.location.reload();
            })
            .catch((err) => {
              this.warning = true;
              this.warningText = err;
            });
        } catch (error) {
          console.log(error);
        }
      }
    },
    onFileSelected(event) {
      this.selectedFile = event.target.files[0];
      const fd = new FormData();
      fd.append("avatar", this.selectedFile, this.selectedFile.name);
      try {
        const token = Cookie.get("token");
        this.$axios
          .post("/user/settings/image-upload", fd, {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": this.langCookie,
              Authorization: `Bearer ${token}`,
            },
          })
          .then(() => {
            alert("Image successfully uploaded !!!");
            window.location.reload();
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (error) {
        console.log(error);
      }
    },
    onUpload() {
      document.getElementById("image-file").click();
    },
  },
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
  mounted() {
    this.getSettings();
  },
};
</script>

<style lang="scss" scoped>
@import "./settings.style.scss";
</style>
