.p-user-settings {
  margin: 4rem 36px;

  h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  
  .tab {
    margin-top: 2rem;
    background: #fefefe;
    border-radius: 20px;
    border: 1px;
    padding: 2rem;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
      5px -5px 10px rgba(230, 230, 230, 0.2),
      -5px -5px 10px rgba(255, 255, 255, 0.9),
      5px 5px 13px rgba(230, 230, 230, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3),
      inset -1px -1px 2px rgba(230, 230, 230, 0.5);

    &-menu {
      &__list {
        display: flex;
        list-style: none;
        padding: 0;

        &-item {
          cursor: pointer;
          margin-right: 2rem;
          padding: 1rem 0;

          &.active {
            border-bottom: 3px solid #1e4382;
          }
        }
      }
    }
  }

  input {
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
      5px -5px 10px rgba(230, 230, 230, 0.2),
      -5px -5px 10px rgba(255, 255, 255, 0.9),
      5px 5px 13px rgba(230, 230, 230, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3),
      inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 10px;
    padding: 1rem;

    &:focus {
      outline: 1px solid rgba(236, 155, 0, 0.5);
    }
  }

  .personal-details {
    &__phone {
      .input-tel__input {
        border: 2px solid !important;
      }
    }
  }
}
