.p-user-chat {
  .chat-box {
    &-menu {
      overflow-y: scroll;
      height: calc(100vh - 124px);
      max-width: 400px;
      width: 100%;
      background: #f8f8f8;
    }

    .search-bar { 
      position: sticky;
      background: #f8f8f8;
      top: 0;
      margin-top: 12px;
      padding: 12px 20px 0;
      input {
        border-radius: 12px;
        width: 100%;
        border: 0;
        padding: 12px 20px;
      }
    }

    &-list {
      padding: 12px 20px;

      img {
        border-radius: 50%;
      }

      .wrapper {
        &-info {
          margin-left: 12px;

          h3,
          p {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #000000;
          }

          p {
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }

      .date {
        font-weight: 500;
        font-size: 11.8686px;
        line-height: 150%;
        color: #000000;
      }
    }

    &-item {
      cursor: pointer;
      position: relative;
      background: #ffffff;
      padding: 10px;
      margin-top: 20px;

      .online {
        position: absolute;
        top: 20px;
        left: 48px;
        width: 10px;
        height: 10px;
        background: #04cd00;
        border-radius: 100%;
      }

      .circle {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 100%;
        color: #ffffff;
        background: #04cd00;
        right: -12px;
        top: -12px;
      }

      a {
        text-decoration: none;
      }
    }

    &__window {
      width: 100%;
      height: calc(100vh - 124px);

      .chat-text {
        padding: 15px;
        background: #ffffff;
        box-shadow: 0px -3px 8px -1px rgba(0, 0, 0, 0.1);

        input {
          padding: 15px 30px 10px;
          border-radius: 76px;
          background: #f8f8f8;
          border: 0;
        }
      }

      .chat-header {
        border-left: 1px solid #0000001f;
        background: #f8f8f8;
        padding: 15px;

        img {
          border-radius: 50%;
        }

        .online-user {
          margin-left: 10px;

          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #000000;
          }
        }
      }

      .chat-window {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__list {
          list-style: none;
          width: 100%;
          padding: unset;

          &-item {
            display: flex;
            justify-content: flex-end;
            margin: 1rem;

            &.receiver {
              div {
                font-size: 1.2rem;
                background: #ffffff;
                box-shadow: -4px 10px 8px rgba(244, 244, 244, 0.2),
                  4px -4px 8px rgba(244, 244, 244, 0.2),
                  -4px -4px 8px rgba(200, 200, 200, 0.9),
                  4px 4px 10px rgba(191, 191, 191, 0.9),
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3),
                  inset -1px -1px 2px rgba(244, 244, 244, 0.5);
                border-radius: 20px 0px 20px 20px;
                padding: 1rem 2rem;
              }
            }

            &.sender {
              justify-content: flex-start;

              div {
                font-size: 1.2rem;
                background: #1e4382;
                box-shadow: -4px 4px 8px rgba(244, 244, 244, 0.2),
                  4px -4px 8px rgba(244, 244, 244, 0.2),
                  -4px -4px 8px rgba(255, 255, 255, 0.9),
                  4px 4px 10px rgba(244, 244, 244, 0.9),
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3),
                  inset -1px -1px 2px rgba(244, 244, 244, 0.5);
                border-radius: 0px 20px 20px 20px;
                color: white;
                padding: 1rem 2rem;
              }
            }
          }
        }
      }
    }
  }
}
