<template>
  <div :class="hiddenSideBar ? 'smallbar' : 'sidebar'">
    <div class="sidebar-header">
      <div class="sidebar-header__logo">
        <nuxt-link to="/user">
          <img src="@/assets/images/logo.png" alt="" />
        </nuxt-link>
      </div>
      <div class="sidebar-header__back" @click="hideSidebar">
        <span>
          <img
            :src="
              !hiddenSideBar
                ? require('@/assets/icons/admin/admin-sidebar-hide.svg')
                : require('@/assets/icons/admin/admin-sidebar-show.svg')
            "
            alt=""
          />
        </span>
      </div>
    </div>
    <div class="sidebar-body">
      <div class="sidebar-body__profile">
        <div class="sidebar-body__profile-img">
          <img :src="avatarImage" alt="" />
        </div>
        <div class="sidebar-body__profile-name">{{ gotData.full_name }}</div>
        <div class="sidebar-body__profile-id">ID :#{{ gotData.id }}</div>
      </div>

      <ul class="sidebar-body__list">
        <li
          v-for="item in thisRole.menu"
          :key="item.id"
          class="sidebar-body__list-item"
          :class="$route.path.slice(7) == item.path ? 'active' : ''"
        >
          <nuxt-link :to="`/logis/${item.path}`">
            <img
              :src="require(`@/assets/icons/admin/${item.icon}.png`)"
              alt=""
            />
            <span>
              {{ item.title }}
            </span>
            <div class="backgraund"></div>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Cookie from "js-cookie";
export default {
  data() {
    return {
      hiddenSideBar: false,
      gotData: {},
    };
  },
  computed: {
    ...mapGetters({
      menuList: "user/getProfile",
    }),
    thisRole() {
      let a = {};
      this.menuList.forEach((element) => {
        if (element.name == "logist") {
          a = element;
        }
      });

      return a;
    },
    avatarImage() {
      console.log(this.gotData.avatar);
      if (this.gotData.avatar) {
        let a = JSON.parse(this.gotData.avatar).file_path;
        return process.env.baseUrl + "/" + a;
      } else {
        return null;
      }
    },
  },

  methods: {
    hideSidebar() {
      this.hiddenSideBar = !this.hiddenSideBar;
      this.$emit("hide-sidebar", this.hideSidebar);
    },
    async getData() {
      const lang = Cookie.get("lang");
      await this.$axios
        .get("/user/sidebar", {
          headers: {
            "Content-Type": "application/json",
            "X-Localization": lang,
            Authorization: `Bearer ${Cookie.get("token")}`,
          },
        })
        .then((res) => (this.gotData = res.data.data));
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style lang="scss" scoped>
@import "./LogisSidebar.style.scss";
</style>
