<template>
  <div class="p-user-applications">
    <div class="application container-xxl table">
      <div class="application-body table-body">
        <div class="application-body__title table-body__title">
          <h1>Templates</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Template Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(app, index) in templates"
                :key="app.id ? app.id : index"
              >
                <td scope="col">{{ index + 1 }}</td>
                <td scope="col">
                  {{ app.name }}
                </td>
                <td scope="col">
                  <button
                    class="btn btn-primary"
                    @click="download(app.newLink)"
                  >
                    Download
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  data() {
    return {
      templates: [],
    };
  },
  methods: {
    getData() {
      try {
        if (Cookie.get("token")) {
          let token = Cookie.get("token");
          const lang = Cookie.get("lang");
          this.$axios
            .get(`/logis/template`, {
              headers: {
                "Content-Type": "application/json",
                "X-Localization": lang,
                Authorization: `Bearer ${token}`,
              },
            })
            .then((result) => {
              this.templates = result.data.data;
              if (this.templates.length) {
                this.templates.forEach((element) => {
                  element.newLink =
                    process.env.baseUrl +
                    "/" +
                    JSON.parse(element.link).file_path;
                });
              }

              console.log(this.templates);
            })
            .catch((err) => {
              console.log(err);
            });
        }
      } catch (error) {
        console.log(error);
      }
    },
    download(link) {
      window.open(link, "_blank");
    },
  },

  mounted() {
    this.getData();
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/table.scss";
@import "./templates.style.scss";

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  #sample {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 1000px;
  }
}
</style>
