<template>
  <div class="p-user-applications">
    <div class="application container-xxl table">
      <div class="application-body table-body">
        <div class="application-body__title table-body__title">
          <h1>Your application</h1>
          <button class="btn btn-success" @click="createApplication">
            <span>+</span> Create
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Application Number</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(app, index) in applicationList.data"
                :key="app.id ? app.id : index"
              >
                <td scope="col">#{{ app.code }}</td>
                <td scope="col">
                  <span v-for="(prod, index) in app.products" :key="index">
                    {{ prod.name }} {{ app.products[index + 1] ? "," : "" }}
                  </span>
                </td>
                <td scope="col">
                  {{
                    typeof app.created_at == "string"
                      ? app.created_at.slice(0, 10)
                      : app.created_at
                  }}
                </td>
                <td
                  scope="col"
                  :style="{
                    color: app.status_color + ' !important',
                  }"
                >
                  {{ app.status }}
                </td>
                <td scope="col">
                  <button class="btn btn-info" @click="goToDetails(app.id)">
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <VSPagination
        :pageNumber="paginationPage"
        @goPage="goPage"
        :totalItems="applicationList?.total"
        :perPage="perPage"
      ></VSPagination>
    </div>
  </div>
</template>

<script>
import VSPagination from "@/components/user/Custom/VSpagination/VSPagination.vue";
import { mapGetters } from "vuex";
export default {
  components: { VSPagination },
  data() {
    return {
      perPage: 20,
      paginationPage: 1,
    };
  },
  computed: {
    ...mapGetters({
      applicationList: "user/getApplication",
    }),
  },

  methods: {
    getData(id) {
      this.$store.dispatch("user/getApplication", id);
    },
    createApplication() {
      this.$router.push(this.$route.path + `/create`);
    },
    goToDetails(e) {
      this.$router.push(this.$route.path + `/${e}`);
    },
    goPage(i) {
      this.getData(i);
    },
  },

  mounted() {
    this.getData(this.paginationPage);
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/table.scss";
@import "./applications.style.scss";
</style>
