<template>
  <div class="pagination">
    <div
      class="pagination-row container-xxl d-flex justify-content-center mb-4"
    >
      <button v-if="paginationNumber > 1" class="btn btn-light" @click="back">
        &lt;
      </button>
      <span v-for="(item, index) in new Array(numberPages)" :key="index">
        <button
          class="btn"
          :class="index + 1 == paginationNumber ? 'btn-primary' : 'btn-light'"
          @click="send(index + 1)"
        >
          {{ index + 1 }}
        </button>
      </span>
      <button
        v-if="!(paginationNumber == numberPages)"
        class="btn btn-light"
        @click="next"
      >
        &gt;
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pageNumber: {
      type: Number,
    },
    perPage: {
      type: Number,
    },
    totalItems: {
      required: true,
    },
  },
  data() {
    return {
      paginationNumber: 0,
    };
  },

  computed: {
    numberPages() {
      if (this.totalItems) {
        return Math.ceil(this.totalItems / this.perPage);
      } else {
        return 1;
      }
    },
  },
  methods: {
    back() {
      if (this.paginationNumber > 1) {
        this.paginationNumber = this.paginationNumber - 1;
        this.$emit("goPage", this.paginationNumber);
      }
    },
    send(i) {
      this.$emit("goPage", i);
      this.paginationNumber = i;
    },
    next() {
      this.paginationNumber = this.paginationNumber + 1;
      this.$emit("goPage", this.paginationNumber);
    },
  },

  mounted() {
    this.paginationNumber = this.pageNumber;
  },
};
</script>

<style lang="scss" scoped>
@import "./VSPagination.style.scss";
</style>
