<template>
  <div class="c-l-partners">
    <div class="container-xxl">
      <h1 class="custom-headline">
        {{
          langCookie == "ru"
            ? "Компании с которыми мы успешно сотрудничаем"
            : "Companies with which we successfully cooperate"
        }}
      </h1>

      <carousel :autoplay="true" :nav="false" :items="4" :rewind="true">
        <div
          v-for="(item, i) in partners"
          :key="i"
          class="position-realtive partners-item"
        >
          <a :href="item.link"> <img :src="item.image" alt="" /></a>
        </div>
      </carousel>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
export default {
  props: {
    partners: {
      type: Array,
    },
  },
  computed: {
    langCookie() {
      return Cookie.get("lang");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./PartnersView.style.scss";
</style>
