<template>
  <div class="p-about" style="background-color: #f5f5f5">
    <div class="about-header">
      <div class="bg"></div>
      <HeaderView
        :title="offerPageData?.data?.banner.name_en"
        :path="path"
        :bg-href="offerPageData?.data?.banner.image"
        :link="link"
      ></HeaderView>
    </div>

    <OffersCards :data="offerPageData?.data?.services.data"></OffersCards>

    <VSPagination
      :pageNumber="paginationPage"
      @goPage="goPage"
      :totalItems="offerPageData?.data?.services?.total"
      :perPage="perPage"
    ></VSPagination>
    <FooterView></FooterView>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import HeaderView from "@/components/user/Layout/HeaderView/HeaderView.vue";
import FooterView from "@/components/user/Common/FooterView/FooterView.vue";
import OffersCards from "@/components/user/Layout/OffersCards/OffersCards.vue";
import VSPagination from "@/components/user/Custom/VSpagination/VSPagination.vue";
export default {
  components: {
    HeaderView,
    FooterView,
    OffersCards,
    VSPagination,
  },
  computed: {
    offerPageData() {
      return this.$store.getters["offerPage/getOfferPageData"];
    },
    totalItems() {
      if (this.offerPageData.data.length) {
        if (this.offerPageData.data.services.length) {
          if (this.offerPageData.data.services.total) {
            return this.offerPageData.data.services.total;
          } else {
            return 0;
          }
        } else {
          return 0;
        }
      } else {
        return 0;
      }
    },
    
    path() {
      if (this.langCookie == "ru") {
        return "УСЛУГИ";
      } else {
        return "OFFERS";
      }
    },
    langCookie() {
      return Cookie.get("lang");
    },
  },
  data() {
    return {
      title: "Наши услуги",
      background: "offer-bg",
      link: "/offers",
      paginationPage: 1,
      perPage: 6,
    };
  },

  methods: {
    getData(id) {
      this.$store.dispatch("offerPage/getOfferPageData", id);
    },
    goPage(i) {
      this.getData(i);
    },
  },

  mounted() {
    this.getData(this.paginationPage);
  },
};
</script>

<style lang="scss">
@import "~/assets/styles/index.scss";
</style>
