<template>
  <div class="p-user-applications">
    <div class="application container-xxl table">
      <div class="application-body table-body">
        <div class="application-body__title table-body__title">
          <h1>Applications</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Full name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(app, index) in applicationList"
                :key="app.id ? app.id : index"
              >
                <td scope="col">#{{ app.code }}</td>
                <td scope="col">{{ app.full_name }}</td>
                <td scope="col">
                  <span v-for="(prod, index) in app.products" :key="index">
                    {{ prod.name }} {{ app.products[index + 1] ? "," : "" }}
                  </span>
                </td>
                <td scope="col">
                  {{
                    typeof app.created_at == "string"
                      ? app.created_at.slice(0, 10)
                      : app.created_at
                  }}
                </td>
                <td
                  scope="col"
                  :style="{
                    color: app.status_color + ' !important',
                  }"
                >
                  {{ app.status }}
                </td>
                <td scope="col">
                  <button
                    class="btn btn-info"
                    @click="goToDetails(app.id, app.status)"
                  >
                    Details
                  </button>
                  <button class="btn btn-info" @click="fileUploads(app.id)">
                    Upload files
                  </button>
                  <input
                    type="file"
                    style="display: none"
                    id="operator-file"
                    multiple
                    @change="onfileSelected"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Cookie from "js-cookie";
export default {
  data() {
    return {
      selectedFile: null,
      id: null,
    };
  },
  computed: {
    ...mapGetters({
      applicationList: "user/getOperator",
    }),
  },

  methods: {
    onfileSelected(event) {
      this.selectedFile = event.target.files;
      if (this.selectedFile) {
        const fd = new FormData();
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        for (let index = 0; index < this.selectedFile.length; index++) {
          fd.append(
            `files[${index}]`,
            this.selectedFile[index],
            this.selectedFile.name
          );
        }
        this.$axios
          .post(`/operator/file/${this.id}`, fd, {
            headers: {
              "Content-Type": "application/json",
              "X-Localization": lang,
              Authorization: `Bearer ${token}`,
            },
          })
          .then(() => alert("Files successfully added"))
          .catch((err) => alert(err))
      }
    },
    goToDetails(e, stat) {
      console.log(stat);
      this.$store.commit("operatorApplication/SET_TYPE_APPLICATION", stat);
      this.$router.push(this.$route.path + `/${e}`);
    },
    fileUploads(id) {
      document.getElementById("operator-file").click();
      this.id = id;
    },
  },

  mounted() {
    this.$store.dispatch("user/getOperator");
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/table.scss";
@import "./applications.style.scss";
</style>
