<template>
  <div class="p-user-application-self">
    <button
      class="btn btn-info mt-3"
      style="margin: 2rem"
      @click="$router.push('/user/applications')"
    >
      Go back
    </button>
    <h1 v-if="isNewApplication">
      {{
        langCookie == "en"
          ? "Thank you for contacting us for your application, we will contact you shortly."
          : "Благодарим вас за обращение к нам по поводу вашей заявки, мы свяжемся с вами в ближайшее время."
      }}
    </h1>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="sender">
            {{ langCookie == "ru" ? "Отправитель" : "Sender" }}
          </h2>
          <table>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Имя и фамилия" : "First and last name"
                }}
              </td>
              <td>{{ applicationData.full_name }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ applicationData.email }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Телефон" : "Telephone" }}
              </td>
              <td>{{ applicationData.phone }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Страна" : "Country" }}
              </td>
              <td>{{ applicationData.country_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Город" : "City" }}
              </td>
              <td>{{ applicationData.city_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Регион" : "Region" }}
              </td>
              <td>{{ applicationData.region_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Почтовый индекс" : "Postcode" }}
              </td>
              <td>{{ applicationData.mail_index }}</td>
            </tr>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Условия поставки" : "Delivery condition"
                }}
              </td>
              <td>{{ applicationData.supply }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="col-data">
          <h2 class="cons">
            {{ langCookie == "ru" ? "Грузополучатель" : "Consignee" }}
          </h2>
          <table>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Имя и фамилия" : "First and last name"
                }}
              </td>
              <td>{{ applicationData.full_name_from }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ applicationData.email_from }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Телефон" : "Telephone" }}
              </td>
              <td>{{ applicationData.phone_from }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Страна" : "Country" }}
              </td>
              <td>{{ applicationData.country_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Город" : "City" }}
              </td>
              <td>{{ applicationData.city_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Регион" : "Region" }}
              </td>
              <td>{{ applicationData.region_from_name }}</td>
            </tr>
            <tr>
              <td>
                {{ langCookie == "ru" ? "Почтовый индекс" : "Postcode" }}
              </td>
              <td>{{ applicationData.mail_from_index }}</td>
            </tr>
            <tr>
              <td>
                {{
                  langCookie == "ru" ? "Способ доставки" : "Delivery methods"
                }}
              </td>
              <td>{{ applicationData.delivery }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <div class="product-table__header">
            <div class="product-table__header-id">#</div>
            <div class="product-table__header-name">
              {{ langCookie == "ru" ? "Наименование" : "Name" }}
            </div>
            <div class="product-table__header-code">
              {{ langCookie == "ru" ? "Код ТНВЭД" : "TNVED code" }}
            </div>
            <div class="product-table__header-quantity">
              {{ langCookie == "ru" ? "Количество" : "Quantity" }}
            </div>
            <div class="product-table__header-volume">
              {{ langCookie == "ru" ? "Обший обем(м" : "Total volume (m" }}
              <sup>3</sup>)
            </div>
            <div class="product-table__header-weight">
              {{ langCookie == "ru" ? "Обший вес(кг)" : "Total weight (kg)" }}
            </div>
          </div>

          <div
            class="product-table__body"
            v-for="(prod, index) in applicationData.products"
            :key="prod.id"
          >
            <div class="product-table__body-id">{{ index + 1 }}</div>
            <div class="product-table__body-name">{{ prod.name }}</div>
            <div class="product-table__body-code">{{ prod.code }}</div>
            <div class="product-table__body-quantity">{{ prod.quantity }}</div>
            <div class="product-table__body-volume">
              {{ prod.full_size }}
            </div>
            <div class="product-table__body-weight">
              {{ prod.total_weight }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="product-table">
          <h2>
            {{ langCookie == "ru" ? "Комментарии" : "Comments" }}
          </h2>

          <p>
            {{ applicationData.comment }}
          </p>
        </div>
      </div>
    </div>

    <div v-if="applicationData.status == 'Reviewed'" class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="product-table">
          <h4>
            {{ langCookie == "ru" ? "Страна транзита" : "Transit country" }}
          </h4>
          <span
            v-for="(trans, index) in applicationData.application_transit"
            :key="trans.id"
            >{{ trans.text }}
            {{
              index == applicationData.application_transit.length - 1
                ? ""
                : " - "
            }}</span
          >

          <h4 class="mt-4">
            {{ langCookie == "ru" ? "Стоимость" : "Cost" }}
          </h4>
          <div class="row1">
            <div class="data">
              {{ langCookie == "ru" ? "Цена" : "Price" }}
            </div>
            <div class="data">{{ applicationData.price }} $</div>
          </div>

          <div class="row1">
            <div class="data">
              {{ langCookie == "ru" ? "Время доставки" : "Time of delivery" }}
            </div>
            <div class="data">{{ applicationData.delivery_time }}</div>
          </div>


          <h4 class="mt-4">
            {{ langCookie == "ru" ? "Запись" : "Note" }}
          </h4>
          <span v-html="applicationData.other_price_doc">
          </span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="product-table bg-blue">
          <button class="btn btn-light" @click="goPdf">
            {{
              langCookie == "ru"
                ? "Посмотреть договор в формате pdf"
                : "View cotract in pdf format"
            }}
          </button>
          <div class="bottom-btns">
            <button
              class="btn btn-light"
              @click="acceptApplication(applicationData.id)"
            >
              {{ langCookie == "ru" ? "Принимать" : "Accept" }}
            </button>
            <button class="btn btn-light" @click="changeApplication">
              {{ langCookie == "ru" ? "Изменить" : "Change" }}
            </button>
            <button
              class="btn btn-light"
              @click="cancelApplication(applicationData.id)"
            >
              {{ langCookie == "ru" ? "Отменить" : "Cancel" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      applicationData: "user/getApplicationById",
      isNewApplication: "application/getIsNewApplication",
    }),
    langCookie() {
      return Cookie.get("lang");
    },
  },

  methods: {
    goPdf() {
      this.$router.push("/pdf");
    },
    cancelApplication(id) {
      try {
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        const headers = {
          "Content-Type": "application/json",
          "X-Localization": lang,
          Authorization: `Bearer ${token}`,
        };
        const article = {
          _method: "post",
        };
        this.$axios
          .post(`/user/application/cancel/${id}`, article, {
            headers,
          })
          .then(() => {
            alert("Canceled successfully !!!");
            const oldPath = "/" + Cookie.get("role") + "/applications";
            this.$router.push(oldPath);
          })
          .catch((err) => {
            this.warningPassword = true;
            this.warningTextPassword = err;
          });
      } catch (error) {
        console.log(error);
      }
    },
    changeApplication() {
      if (this.applicationData) {
        this.$store.commit(
          "application/SET_CHANGING_APPLICATION",
          this.applicationData
        );
        this.$router.push("/user/applications/update");
      }
    },
    acceptApplication(id) {
      try {
        const token = Cookie.get("token");
        const lang = Cookie.get("lang");
        const headers = {
          "Content-Type": "application/json",
          "X-Localization": lang,
          Authorization: `Bearer ${token}`,
        };
        const article = {
          _method: "post",
        };
        this.$axios
          .post(`/user/application/accept/${id}`, article, {
            headers,
          })
          .then(() => {
            alert("Accepted successfully !!!");
            const oldPath = "/" + Cookie.get("role") + "/applications";
            this.$router.push(oldPath);
          })
          .catch((err) => {
            this.warningPassword = true;
            this.warningTextPassword = err;
          });
      } catch (error) {
        console.log(error);
      }
    },
  },

  mounted() {
    if (this.isNewApplication) {
      alert("Created successfully");
    }
    this.$store.dispatch("user/getApplicationById", this.$route.params.slug);
  },
};
</script>

<style lang="scss" scoped>
@import "./applicationView.style.scss";
</style>
